@import '~sass/partials'

$logo-offset: 3px
$logo-padding: 8px

.FullLogo
    display: flex !important
    justify-content: center
    +clickable
    line-height: 1
    font-size: 26px
    font-family: font-for(FullLogo)

    &::before
        +size(100%, 2px)
        background-color: theme(dark, primary)
        top: 0
        position: absolute
        left: 0

    .FullLogo__Logo
        +size($header-height - $logo-offset)
        padding: $logo-padding + $logo-offset
        padding: $logo-padding
        top: 0

    .FullLogo__LogoText
        font-size: inherit
        font-family: inherit
        letter-spacing: .075rem
        position: relative
        align-self: center
        line-height: 1
        color: theme(dark, text-primary)
        // top: -$logo-padding / 2 - $logo-offset
        // margin-left: -2px


        // font-variant: small-caps
        // font-style: uppercase

    &:hover .FullLogo__LogoText
        color: theme(dark, layout)
