@import '~sass/partials'

.Logo
    position: relative
    backface-visibility: hidden
    width: $header-height - 4
    height: $header-height - 4
    display: inline-block
    cursor: pointer
    +no-select

    .Logo__content
        width: 100%
        display: block
