@import '~styles/base'

.SubNav
    height: $header-sub-height
    line-height: $header-sub-height

    .HeaderIconGroup
        width: 175px
        background: grey(7)
        margin: 0 auto
        height: inherit
        line-height: inherit

        font-size: 18px
        display: flex
        justify-content: center
        align-items: center
