@import '~sass/partials'

.header-panel
    position: fixed
    top: $header-height
    right: 0
    +set-mins(200px, 200px)
    background: grey(7)
    padding: 12px 20px
    border: green solid 1px
    z-index: 10
    opacity: 0
    text-align: center

    box-shadow: -4px 4px 40px grey(8)

    // transition: all .15s ease-in
    transform: translateY(-200px) scale(.66)
    transform-origin: top

    &.animate-out
        transition: all .15s $key-bezier-animation-out
        transition-property: transform, opacity

    &.animate-in
        // transition: all .8s cubic-bezier(0.165, 0.84, 0.44, 1)
        // transition: all .6s cubic-bezier(0.19, 1, 0.22, 1)
        transition: all $key-animation-duration $key-bezier-animation-in
        transition-property: transform, opacity
        // transition: all .8s cubic-bezier(0.23, 1, 0.32, 1)
        transform: translate(0) scale(1)
        opacity: 1
        z-index: 11

    &.shift-left
        right: $drawer-width
