@import '~sass/partials'

.HeaderButtonIcon
    padding: 2px 4px
    background: none
    outline: none
    color: var(--textSecondary)
    font-size: $subheader-icon-size
    margin: 0 4px
    // border: 1px solid grey(6)
    border: none
    line-height: 1
    vertical-align: center
    vertical-align: middle
    cursor: pointer

    &:hover
        color: var(--primary)
