@import '~styles/base'

.Notification
    position: relative
    display: inline-block

    .Notification__content
        display: none
        position: absolute
        top: 5px
        left: 27px
        padding: 1px 4px 2px 2px
        line-height: 1
        font-size: .625rem
        color: color(text-primary)
        text-decoration: none
        letter-spacing: -.075em
        border-radius: 6px 6px 6px 0
        background: color(primary)

    .Notification__content--active
        display: initial
