#board
    position: relative
    +set-dims(100vw, 100vh)
    background: $board-color

    .nano-pane
        display: block !important

    .board-header
        position: relative
        text-align: center
        
    .posts
        position: relative
