.board-post
    position: absolute  // positioned via JS
    width: $thread-width
    max-height: $thread-height
    
    background: $board-post-color
    font-family: $font-main
    text-align: center
    cursor: pointer
    overflow: hidden
    border-radius: 8px

    border: $grey-dark solid 2px
    // box-shadow: $primary 0 0 2px
    padding-bottom: 10px

    transition: all .5s ease-in-out
    transition-property: top, left;


    img
        // display: inline
        // +limit-width(175px, 50px)
        +limit-height(200px, 50px)

    .count
        text-align: center
        width: 100%

        > span
            width: 50%
            display: inline-block
            text-align: center
            float: left

        b
            margin-left: 4px

        .mdi 
            font-size: 18px

        .mdi-comment-text
            color: $primary-light

        .mdi-message-image
            color: $blue-light

    .op
        // display: block
        padding: 0 15px
        width: 100%
        word-wrap: break-word !important

    b.title
        display: block
        font-weight: 500
        margin-bottom: 10px

    a
        color: $white !important
        text-decoration: none

    
