.board-post
    position: absolute  // positioned via JS
    width: $thread-width
    max-height: $thread-height
    
    font-family: $font-main
    text-align: center
    cursor: pointer
    overflow: hidden
    border-radius: 4px 4px 8px 8px

    box-shadow: black 2px 2px 10px
    padding-bottom: 10px

    transition: all .5s ease-in-out
    transition-property: top, left;
    transition: box-shadow .2s ease-out

    &:hover
        // transition: all .5s ease-in-out
        box-shadow: white 0 0 6px
        


    img
        +limit-height(225px, 50px)
        max-width: 100%

    .count
        text-align: center
        width: 100%

        > span
            width: 50%
            display: inline-block
            text-align: center
            float: left

        b
            margin-left: 4px

    .op
        // display: block
        padding: 0 15px
        width: 100%
        word-wrap: break-word !important

    b.title
        display: block
        font-weight: 500
        margin-bottom: 10px

    a
        color: $white !important
        text-decoration: none

    
    // Icons
    .mdi 
        font-size: 18px

    .mdi-comment-text
        color: $primary-light

    .mdi-message-image
        color: $blue-light