#board
    position: relative
    height: calc(100vh - #{$header-height})
    width: 100vw
    // margin-top: $header-height
    background: $board-color

    .nano-pane
        display: block !important
        
        .nano-slider
            background:  $primary

    // .nano-content
    //     padding-right: 12px
        // justify-content: space-between
        // +columns(2, $margin: 10px)
        // +breakpoint(from-phablet)
        //     +columns(3, $margin: 20px 8px)
        //     +font-size(14px)
        // +breakpoint(from-tablet)
        //     +columns(4, $margin: 20px 10px)
        //     +font-size(14.5px)
        // +breakpoint(from-desktop)
        //     +columns(5, $margin: 20px 10px)
        //     +font-size(15px)
        // +breakpoint(from-desktop-mid)
        //     +columns(7, $margin: 20px 10px)
        //     +font-size(15.5px)
        // +breakpoint(from-desktop-lrg)
        //     +columns(8, $margin: 20px 10px)
        //     +font-size(16px)
