.board-post
    position: absolute  // positioned via JS
    width: $thread-width
    max-height: $thread-height
    
    background: $black
    font-family: $font-main
    text-align: center
    cursor: pointer
    overflow: hidden
    border-radius: 4px

    border: $black solid 2px
    box-shadow: $primary 0 0 2px
    padding-bottom: 10px

    transition: all .5s ease-in-out
    transition-property: top, left;


    img
        // display: inline
        // +limit-width(175px, 50px)
        +limit-height(200px, 50px)

    .count
        text-align: center

        > span
            width: $thread-width / 2
            display: inline-block
            text-align: center

        b
            margin-left: 4px

        .mdi 
            font-size: 18px

        .mdi-comment-text
            color: $primary-light

        .mdi-message-image
            color: $blue-light

    .op
        display: block
        padding: 0 15px

    b.title
        display: block
        font-weight: 500
        margin-bottom: 10px

    a
        color: $white !important
        text-decoration: none
