.board-lists
    width: 100vw

    .board-lists-wrap
        +center-horizontal(684px)
        top: 311px  // like google!
        display: flex
        align-items: center
        justify-content: center

    .dropdown
        margin-top: 0

    .board-list
        display: inline-block
        position: relative
        transition: all .3s ease-out
        flex: 1

        .placeholder
            transition: all .2s ease-out
            display: inline-block
            padding: 10px 20px
            font-size: 26px
            color: $primary
            font-family: $font-alt
            font-weight: bold

            &:hover
                background: $white

        .content
            display: none
            .searchbox
                width: 100%
            .search
                width: 100%

        .dropdown
            height: 100% !important
            width: 100% !important
            

        &.active
            width: 400px
            height: 400px
            position: relative

            .placeholder
                display: none

            .content
                display: initial !important
