#board
    position: relative
    +set-dims(100vw, 100vh)

    .nano-pane
        display: block !important

    .board-header
        position: relative
        text-align: center

    .board-end
        position: absolute
        text-align: center
        bottom: 100px
        margin: 0 auto
        width: 300px

    .posts
        position: relative

    pre
        width: 100%
        display: inline-block
        text-overflow: ellipsis
        text-align: left !important
        overflow: hidden


.react-alerts
    position: fixed !important
    z-index: 9999 !important

    .alert 
        z-index: 9999 !important
