.dropdown
    width: 100%
    
    span.item
        color: $white
        width: 100%

        > *
            width: 100%
            background-color: $grey-dark
            border-bottom: $grey solid 2px
            padding: 8px 15px
            cursor: pointer

        &:hover
            > *
                background-color: $grey
