nav
    height: 50px
    width: 100vw
    background-color: $grey
    position: fixed
    margin: 0

    ul
        margin-top: 10px
        @include columns(1)
        @include breakpoint(from-tablet)
            @include columns(3)

        li
            list-style: none
            text-align: center
            color: $white !important
            text-decoration: none !important
