#header
    +set-dims(100%, $header-height)
    position: fixed
    top: -$header-height  // hide on start
    border-bottom: 3px $primary solid
    z-index: 20
    overflow-y: hidden

    .header-background
        opacity: 0.8
        background: $black
        +set-dims(100%, $header-height)
        width: 100%
        position: absolute
        z-index: -1

    .header-content-wrap
        +set-dims($header-width - 24, 100%)
        opacity: 0.9
        background: $black
        box-shadow: 20px 0 20px $black, -20px 0 20px $black
        margin: 0 auto

    .header-content
        +set-dims(100%, 50%)
        position: relative
        top: 25%

    .breadcrumb
        display: inline-block
        font-size: 20px
        color: $primary
        padding: 0 10px

    .searchbox
        height: $header-height/2
        width: 300px
        display: auto 0
        display: inline-block

    .logo-wrap
        width: 47px
        height: 47px
        float: left
        margin: 6px
        position: relative
        top: -50%

    .mdi-arrow-up
        float: right
        font-size: 24px
        line-height: 30px
        padding: 0 6px
        margin-right: 7px
        cursor: pointer

        &:hover
            transition: all .3s
            color: $primary
            background: $grey

