#header
    position: fixed
    +set-dims(100vw, $header-height)
    top: -$header-height  // hide on start
    left: 0
    border-bottom: 3px $primary solid
    z-index: 20
    background: $black

    @include breakpoint(to-tablet)
        z-index: 100

    .header-content
        +set-dims($header-width, 100%)
        margin: 0 auto

    .searchbox
        height: $header-height

    .logo-wrap
        width: 47px
        height: 47px
        float: left
        margin: 6px
