.hierarchy
    display: inline-block
    color: color(primary) !important
    padding: 0 10px
    font-size: 22px
    line-height: 22px
    font-family: $font-main

    li
        display: inline-block

    span
        margin: 0 2px
        color: grey(6)
        font-family: Consolas

    .threadID
        font-family: $font-alt
