.hierarchy
    display: inline-block
    color: color(primary)
    padding: 0 10px
    font-size: 22px
    line-height: 22px

    li
        display: inline-block
        margin-right: 2px

    .line
        color: grey(7)
