.line
    display: block
    height: 1px
    border: 0
    background-color: color(divider)
    margin: 0.8em 0 0.2em
    padding: 0
    position: relative

    &::before
        content: ""
        position: absolute
        top: 0
        height: 1px
        width: 60px
        left: -60px
        background-size: 100%
        background-image: linear-gradient(to left,color(divider),rgba(255,255,255,0))

    &::after
        content: ""
        position: absolute
        top: 0
        height: 1px
        width: 60px
        right: -60px
        background-size: 100%
        background-image: linear-gradient(to right,color(divider),rgba(255,255,255,0))


.pipe
    padding: 0 !important
    &::after
        content: ""
        margin: 0 3px
        border-left: color(divider) solid 1px
        border-right: color(divider) solid 1px
