#logo
    position: relative
    width: 47px
    height: 47px
    float: left
    margin: 6px
    -webkit-backface-visibility: hidden

    img
        width: 100%

    &.logo-rotating
        img
            animation: rotate .9s linear infinite