.logo-text
    text-align: left
    position: relative
    padding: 6px 12px
    color: color(primary)

    .name
        font-size: $font-size-large

    .version
        font-size: $font-size-small
        font-family: $font-alt
        color: color(text-secondary)
        position: absolute
        top: 28px
        right: 0
