.overlay
    +set-dims(100%, 100%)
    z-index: 10
    position: fixed
    background-color: grey(9)
    top: 0
    left: 0
    opacity: 0
    display: none
    transition: opacity .1s .2s

    &.overlay-active
        display: initial
        transition: opacity .2s
        opacity: .95
