.searchbox
    width: 300px
    height: $header-height
    margin: 0 auto
    position: absolute
    right: 0
    left: 0
    font-family: $font-alt
    
    .mdi-magnify
        position: absolute
        color: #909090
        left: 6px
        font-size: 24px
        line-height: 62px
        font-weight: bold


    .searchbox-content
        border-radius: 20px
        border: $grey solid 1px
        height: 40px
        margin-top: 10px
        width: 100%
        padding-left: 30px

