.thread-post
    background-color: $grey
    display: block
    width: 1004px
    margin-bottom: 4px
    text-align: left
    padding: 2px 8px
    padding-right: 27px
    position: relative

    @include breakpoint(to-tablet)
        width: 100% !important
    // border-bottom: $grey-light solid 1px

    &:last-child
        margin-bottom: 0

    blockquote
        margin: 15px 25px
        margin-top: 0

    .media-info
        font-size: 12px
        position: relative
        bottom: 6px

        > span
            margin-right: 4px

        .fileinfo
            color: tint($grey-hightlight, 15%)

        .icon
            color: $secondary-light
            font-size: 13px
            position: relative
            top: 1px

    .post-info
        +font-size(14px)
        padding: 5px 0

        > *
            display: inline-block
            padding: 0 2px

        .title
            strong
                border-bottom: $primary solid 2px
                margin-right: 5px

        .name
            color: $primary-dark
            font-weight: bold



        .controls
            font-size: 18px
            float: right

            li
                color: $grey-hightlight
                display: inline-block
                margin-left: 2px
                cursor: pointer
                transition: all .2s ease-out

                &:hover
                    color: $secondary
                    opacity: 1
                    border-bottom: $secondary 1px bold

                span
                    padding: 6px

    // Reference block
    .references
        display: block
        clear: both
        color: $grey-hightlight
        padding-bottom: 2px

        .reference-header
            margin-right: 6px
            font-size: 18px
            
            .icon
            .reply-count
                position: relative
                bottom: 2px
                font-size: 13px

        .quotelink
            margin-right: 5px
            display: inline-block
            font-size: 13px
            color: $primary-dark !important


    // TODO: This needs to be redone
    .img-container
        float: left
        margin-bottom: 10px
        position: relative

        &.img-container-opened
            float: none
            
        .thumbnail
            margin-right: 10px

        .expanded
            max-width: 100%

        .fullscreen
            +set-dims(30px, 30px)
            position: absolute
            top: 3px
            right: 3px
            opacity: 0.5
            transition: opacity 0.2s ease-in
            cursor: pointer
            z-index: 2

            &:hover
                opacity: 1
                transition: opacity 0.15s ease-in


            .fa-circle 
                color: $grey-dark

            .fa-expand
                color: $white



    br
        line-height: 0.8

    .title
        z-index: 1


    &.highlight
        position: relative
        &:before 
            content: ""
            transition: all 1s ease-out
            position: absolute
            left: 0
            top: 0
            width: 2px
            height: 100%
            background: $primary


    /* Tooltip */
    &.tip
        z-index: 101
        border: 1px dashed $primary
        position: absolute
        max-width: 800px
        width: 100%
        padding-right: 10px
        word-wrap: break-word
        white-space: pre-line

        a
            color: $primary

    // gap for header at top of thread
    .header-gap
        height: $header-height

    /* 4chan links */
    .quote
        color: $green

    .deadlink
        color: lighten($grey-light, 20%)
        text-decoration: line-through
        font-weight: bold
    
    .quotelink
        color: $primary
        text-decoration: none
        font-weight: bold
        transition: 0.1s ease-out

        &:hover
            color: $primary-light
            transition: 0.3s ease-out

        &:visited
            color: white
