.thread-wrap
    position: fixed
    display: none
    width: 1004px
    height: 100vh
    top: 0
    left: 0
    right: 0
    margin: 0 auto
    z-index: 10

    @include breakpoint(to-tablet)
        width: 100% !important

    &.thread-wrap-active
        display: initial !important


    .nano-pane
        width: 7px
        cursor: hand
        background: $black
        // display: block !important

        &:hover 
            width: 12px
            transition: width .2 ease-in
        &:active
            width: 12px

        .nano-slider
            background: $primary

.thread
    position: absolute
    top: 100%
    overflow: hidden
    background-color: $grey-dark
    line-height: $thread-line-height