.tooltip
    position: relative
    display: inline-block

    .tooltip-content  // is tooltip
        visibility: hidden
        position: absolute
        background: $white
        font-weight: bold
        color: #333
        height: 30px
        top: 0
        left: calc(100% + 8px)
        opacity: 0
        line-height: 30px
        text-align: center
        border-radius: 6px
        text-shadow: none
        white-space: nowrap
        padding: 0 8px



        &:before
            content: ''
            position: absolute
            top: 50%
            left: 0
            margin-left: -8px
            margin-top: -8px
            width: 0 
            height: 0
            border-right: 8px solid $white
            border-top: 8px solid transparent
            border-bottom: 8px solid transparent
            

    .tooltip-active
        visibility: visible !important
        transition: opacity .2s ease-out
        opacity: 1
