body
    background-color: $grey-dark !important
    color: $white
    font-family: $font-main
    overflow-x: hidden
    line-height: $line-height

h1, h2, h3, h4, h5, h6
	font-family: $font-alt

.route-link
     color: $white
     text-decoration: none

a
	color: $blue-light

.quotelink
	color: $red
	text-decoration: none