@font-face
	font-family: $font-main
	src: url( $font-dir + $font-main + '.ttf' ) format('truetype')
    font-weight: normal
    font-style: normal

@font-face
    font-family: $font-main-light
    src: url( $font-dir + $font-main-light + '.ttf' ) format('truetype')
    font-weight: normal
    font-style: normal

@font-face
    font-family: $font-alt
    src: url( $font-dir + $font-alt + '.ttf' ) format('truetype')
    font-weight: normal
    font-style: normal
