@import '~sass/utils'

.ActionButton
    +box-shadow(3)
    font-family: $font-main-light
    background: transparent
    outline: none
    border: $primary solid 1px
    border-radius: 8px
    color: var(--textPrimary)
    line-height: 1
    position: relative
    +clickable



