@import '~sass/utils'

$radio-button-size: 20px

.RadioGroup

    .RadioGroup__field
        display: flex
        align-items: center
        color: var(--textDisabled)

        &.RadioGroup__field--active
            color: var(--textPrimary)
            transition: color $key-animation-duration $key-bezier-animation-in

        &:hover .Radio__circle
            background: $grey
            border: 2px solid $grey-dark

    .RadioGroup__label
        display: inline-block
        +clickable

    .Radio
        display: inline-block
        margin-right: 8px
        // position: relative
        // top: 100%
        // margin-top: -50%

        &.Radio--active .Radio__circle::after
            border: 2px solid var(--primary)
            transform: scale(1)
            transition: transform $key-animation-duration $key-bezier-animation-in

        .Radio__circle
            +circle($radio-button-size)
            background: $grey-darkest
            position: relative
            border: 2px solid $grey-darkest
            transition: background-color $key-animation-duration ease-out

            &::after
                content: ''
                top: -2px
                left: -2px
                position: absolute
                border: 2px solid transparent
                +circle($radio-button-size - 4px)
                transform: scale(0)
                transition: transform $key-animation-duration $key-bezier-animation-out
