@import '~sass/partials'

// icons aren't square-shaped. n by n+2px
$icon-height: $header-icon-size + 2px
$icon-width: $header-icon-size

$border-width: 2px

$hover-offset: $icon-height / $golden-ratio
$slider-width: $header-height - $hover-offset - $border-width
$slider-height: $header-height * 0.75

$transition-out: transform $animation-speed-fast $delay-fast $bezier-slow
$transition-in: transform .2s $bezier-fast

.SlideDownBG
    transform: translateY(0)
    transition: $transition-out

    &:hover, &.active
        transform: translateY($hover-offset)
        transition: $transition-in

    &::before
        content: ""
        transform: translateY(-100%) rotateX(90deg)
        transition: $transition-out
        +size($slider-width, $slider-height)
        position: absolute
        left: 0
        bottom: -$icon-height
        background: color(layout)
        z-index: -1
        border-radius: 4px 4px 0 0
        border: $border-width solid darken(color(layout), 2%)
        border-bottom: none

    &:hover::before, &.active::before
        transition: $transition-in
        transform: translateY(-$hover-offset) rotateX(0deg)

