@import '~sass/utils'

.Dashboard
    +size(100vw, 100vh)

    .header
        height: $header-height
        // background-color: $grey-dark
        padding: 12px 80px
        display: flex
        align-items: center

        .icon-button
            +clickable
            padding: 16px
            font-size: 24px

    .boards
        +size(100%, 100%)
        background-color: $grey-light

        .scrollable
            display: flex !important
            align-items: center
            justify-content: center

