@import '~sass/utils'


h1
    +font-size(6)
h2
    +font-size(4)
h3
    +font-size(3)
h4
    +font-size(2)
h5
    +font-size(1)
h6
    +font-size(0)


.Title
    font-family: $font-main-light
    letter-spacing: .5rem

    &.weight-light
        font-weight: 400
    &.weight-normal
        font-weight: 500
    &.weight-bold
        font-weight: 600
    &.align-center
        text-align: center
    &.align-left
        text-align: left
    &.align-right
        text-align: right

