@import '~sass/utils'

.BoardListPage
    background: $interface-color
    height: inherit
    padding: 0 20px


    .search
        background: $grey-lightest
        margin-bottom: 1rem

    .toggle-buttons
        margin-bottom: 1rem

    .BoardList
        padding: 1.5rem 0

    .metadata
        +font-size(-2)
        position: relative
        top: 8px
        display: flex
        justify-content: space-between

        .note
            text-align: right
            color: $text-disabled

        .board-count
            color: $text-secondary
            span
                color: $text-primary

    .BoardListItem
        +clickable
        +no-select
        display: flex
        align-items: center
        padding: .2rem 0
        transition: background .3s ease()
        border-radius: 4px

        .title-wrap
            display: flex
            flex-direction: row-reverse
            +font-size(-1)

            .id
                width: 3.2rem
                padding-left: .1rem
                color: $text-secondary
                font-family: $font-main-light

            .title
                color: $text-primary
                text-overflow: ellipsis
                white-space: nowrap
                overflow: hidden
                width: 150px

        &:hover
            transition: none
            background: rgba(255,255,255,0.08)
            .stickies

    .is-favourite
        .id
            color: gold
