@import "./_typography"
@import "./_mixins"

body
    background-color: $black !important
    color: $white
    font-family: $font-alt
    font-family: $font-main
    font-family: $font-alt2

    #app
        @include center(100vw, 100vh)
        background-color: $green

.container
    padding: 20px

.route-link
     color: $white
     text-decoration: none
