@import ./_typography
@import ./_mixins
@import ./_variables

body
    background-color: $dark-red !important
    color: $white
    font-family: $font-alt
    font-family: $font-main
    font-family: $font-alt2
    overflow-x: hidden

.container
    padding: 20px

.route-link
     color: $white
     text-decoration: none
