.board-post
    /* initial position offscreen, positioned via JS */
    position: absolute

    width: $board-post-width

    font-family: $font-main
    text-align: center
    +clickable
    overflow: hidden
    border-radius: 4px 4px 0 0
    background: $board-post-color
    box-shadow: $board-post-shadow-color 0 0 0
    border: 2px solid $board-post-color
    border-bottom-color: grey(5)

    transition: all .4s ease-out
    transition-property: top, left, box-shadow
    visibility: hidden
    opacity: 0
    transform: translateY(0)


    &.animate
        visibility: visible

    &:hover
        transition: all .2s
        transform: translateY(300px) !important

        .counters
            opacity: 1

            > div
                border-color: grey(7)

        .comment-wrap
            border-top: color(primary)

        img
            transform: scale(1.05)

    
    .image-wrap
        user-select: none
        position: relative


    img
        max-width: 100%
        max-height: 400px
        display: inherit
        margin: 0 auto
        height: auto
        transition: transform .2s ease-out


    .comment-wrap
        padding-top: 6px
        position: relative
        background: inherit
        top: 0
        transition: top .2s ease-out
        box-shadow: grey(8) -4px 0 4px
        max-height: $board-post-comment-max-height

    .op
        padding: 0 15px
        padding-bottom: 10px
        width: 100%
        word-wrap: break-word !important

        .title
            display: block
            padding-top: 4px
            padding-bottom: 2px

        .comment
            padding-top: 4px
            width: 100%

    a
        color: grey(1) !important
        text-decoration: none


    /* Counters + Icons */
    .counters
        user-select: none
        display: flex

        padding: 0 12px
        color: color(text-secondary)
        font-size: 14px
        font-family: $font-main-light

        .counter
            display: inline-block
            padding: 0 3px

            &.timeago
                margin-left: auto

    .mdi
        margin-right: 2px

    .line
        width: $board-post-width / 2
        margin: 4px auto 0

