// Font size
@function calculateRem($size)
    $remSize: $size / 16px
    @return $remSize * 1rem

@mixin font-size($size)
    font-size: $size
    font-size: calculateRem($size)


// Centering
%cenH
	left: 0
	right: 0

%cenV
	top: 0
	bottom: 0

@mixin center($width, $height)
	width: $width
	height: $height
	position: absolute
	margin: auto
	@extend %cenH
	@extend %cenV

@mixin center-horizontal($width)
	width: $width
	position: absolute
	margin: 0 auto
	@extend %cenH

@mixin center-vertical($height)
	height: $height
	position: absolute
	margin: auto 0
	@extend %cenV
