$font-fallback: sans-serif

$font-main: "OpenSans-Regular"
@font-face
	font-family: $font-main
	src: url( 'fonts/' + $font-main + '.ttf' ) format('truetype')
    font-weight: normal
    font-style: normal

$font-alt: "Raleway-Regular"
@font-face
	font-family: $font-alt
	src: url( 'fonts/' + $font-alt + '.ttf' ) format('truetype')
    font-weight: normal
    font-style: normal
