#preload-screen
    z-index: 99999
    +set-dims(100vw, 100vh)
    position: fixed
    top: 0
    left: 0

    .preload-section
        background: url('/backgrounds/dark_wall.png')
        +set-dims(50%, 100%)
        position: absolute
        top: 0
        transition: all .8s .4s cubic-bezier(0.215, 0.61, 0.355, 1)

    .split-left
        left: 0

    .split-right
        right: 0


    &.loaded
        transform: translateY(-100%);
        transition: all .1s 1.2s

        #loader-wrapper
            transition: opacity .4s ease-out
            opacity: 0

        .split-right
            transform: translateX(100%)

        .split-left
            transform: translateX(-100%)


#loader-wrapper
    position: fixed
    +position(0, 0)
    +set-dims(100%, 100%)
    z-index: 1

#loader
    display: block
    position: relative
    +position(50%, 50%)
    +set-dims($preloader-size, $preloader-size)
    margin: -75px 0 0 -75px
    border-radius: 50%
    border: $preloader-arc-width solid transparent
    border-top-color: $preloader-color-outer
    animation: spin 2s * $preloader-spin-multiplier linear infinite


    &::before
        content: ""
        position: absolute
        +position(5px, 5px, 5px, 5px)
        border-radius: 50%
        border: $preloader-arc-width solid transparent
        border-top-color: $preloader-color-middle
        animation: spin 3s * $preloader-spin-multiplier linear infinite


    &::after
        content: ""
        position: absolute
        +position(13px, 13px, 13px, 13px)
        border-radius: 50%
        border: $preloader-arc-width solid transparent
        border-top-color: $preloader-color-inner
        animation: spin 1.5s * $preloader-spin-multiplier linear infinite

#preload-status-text
    position: absolute
    top: calc(50% + #{$preloader-size/2})
    left: 25%
    padding: 20px
    text-align: center
    width: 50%

