.board
    width: 100vw
    margin-top: 50px  // TODO - dynamic margin
    min-width: 400px

    +columns(2, $container-width: 90%, $margin: 10px)
    +breakpoint(from-phablet)
        +columns(3, $container-width: 90%, $margin: 20px 10px)
    +breakpoint(from-tablet)
        +columns(4, $container-width: 90%, $margin: 20px 10px)
    +breakpoint(from-desktop)
        +columns(5, $container-width: 90%, $margin: 20px 10px)
    +breakpoint(from-desktop-mid)
        +columns(7, $container-width: 90%, $margin: 20px 10px)
    +breakpoint(from-desktop-lrg)
        +columns(8, $container-width: 90%, $margin: 20px 10px)
