nav
    position: fixed
    +set-dims(100vw, 50px)
    background-color: $dark-red
    top: 0
    z-index: 5

    ul
        position: relative

        @include columns(3, $container-width: 1000px )

        li
            list-style: none
            text-align: center
            color: $white !important
            text-decoration: none !important

    a
        margin-top: 15px
        position: relative


    a.active
        transition: all 0.3s
        color: $red
        margin-top: 2px
        font-size: 20px
        border-bottom: 1px solid $red
