.thread-post
    background-color: $grey
    overflow: hidden
    display: block
    width: 1004px
    margin-bottom: 10px
    text-align: left
    padding: 2px 8px

    .post-info
        font-size: $font-small

        span
            margin-left: 8px

    .post-img
        max-width: 100%