{
  "plugins": [
    "react-hot-loader/babel",
    "transform-decorators-legacy",
    "transform-async-to-generator",
    ["module-resolver", {
      "alias": {
        "-": ".",
        "~": "./app",
        "package": "./package.json",
        "config": "./config",
        "sass": "./app/sass",
        "images": "./public/images",
        "shells": "./shells"
      }
    }]
  ],
  "presets": [
    "es2015",
    "react",
    "stage-1",
    "flow"
  ]
}
