// TODO - Still experimenting
$font-fallback: sans-serif

$font-main: "Montserrat-Regular"
@font-face
	font-family: $font-main
	src: url('styles/fonts/'+ $font-main +'.ttf')

$font-alt: "Roboto-Regular"
@font-face
	font-family: $font-alt
	src: url('styles/fonts/'+ $font-alt +'.ttf')

// $font-alt2: "OpenSans-Regular"
// @font-face
// 	font-family: $font-alt2
// 	src: url('styles/fonts/'+ $font-alt2 +'.ttf')
