$thread-width: 150px
$thread-height: 320px

/* Fonts */
$font-scale-step: 0.25
$base-font-size: 16px

@function calc-font-size($steps)
    $incrementation: $steps * $font-scale-step
    @return $base-font-size + $incrementation

$font-small: calc-font-size(-1)
$font-medium: calc-font-size(0)
$font-large: calc-font-size(1)
$font-xlarge: calc-font-size(2)
