$base-colors: (
    punch:     #EA4335,  // $primary
    seagull:   #6EC4E7,  // $blue-light
    picton:    #4EADF3,  // $blue
    denim:     #0E43A9,  // triad of punch, use for tint?
    mantis:    #8FCC6D,  // $green
    swamp:     #a3d08c,  // $green
    fern:      #55b359,  // 4chan
    vermilion: #FF4500,  // reddit
    contessa:  #BF616A,  // Nord
    horizon:   #5e81ac,  // Nord
    bouquet:   #b48ead,  // Nord
    putty:     #EBCB8B,  // Nord
);
