@import '~sass/utils'

$header-navbar-padding: 68px
$subheader-border-color: $grey-lightest
// $subheader-border-color: var(--primary)

.SubHeader

    position: absolute
    +set-dims(100%, $subheader-height)

    top: $header-height - $subheader-height
    transform: translateY($subheader-height) translateZ(0)
    backface-visibility: hidden
    left: 0
    right: 0
    margin: 0 auto
    font-size: $subheader-font-size
    // z-index: $subheader-z-index + 100
    // +will-change(transform)
    // box-shadow: 0 2px 4px -1px rgba(0,0,0,0.2), 0 4px 5px 0 rgba(0,0,0,0.14), 0 1px 10px 0 rgba(0,0,0,0.12);
    backface-visibility: hidden
    z-index: 11
    font-size: 0.85em

    .background
        transition: opacity $animation-speed-fast $bezier-fast
        background: var(--interfaceColor)
        +set-dims(inherit, inherit)
        position: absolute
        z-index: -1

        &::before, &::after
            position: absolute
            top: 0
            background: inherit
            +size(80px, inherit)

        &::before
            left: 0

        &::after
            right: 0

    .content
        z-index: 2
        width: 100%
        height: 100%
        line-height: 1
        display: flex
        // flex-wrap: block
        align-items: center
        // padding: $header-padding
        border-bottom: 2px var(--interfaceColor) solid
        // box-shadow: 0 0 5px $grey-darkest
        // box-shadow: 0PX 3PX 7px #080808 inset, 0PX -1PX 5px #080808 inset

        padding-left: 38px
        padding-right: 14px

    .Button
        margin: 0 .5em

    .HeaderItem
        transition: padding $key-animation-duration $key-bezier-animation-out

        &.SubHeader--left
            margin-left: auto
            margin-right: 0

        &.SubHeader--right
            margin-left: 0
            margin-right: auto
            padding-right: auto

        &.SubHeader--center
            margin: 0 8px

        > *
            display: inline-block


    .SubHeader__search
        display: auto 0
        display: inline-block
        padding: 0
        width: 300px
        margin: 0 12px


        .SearchBarWithIcons
            // $offset: 20px

            background: var(--headerSearchbar)
            // min-width: 100%
            // height: $subheader-height * 0.66
            // border-radius: 4px

            input
                color: $text-primary
                // padding-left: $offset
            //     text-align: left
            //     min-width: 100%
            //     padding-left: 10px
            //     letter-spacing: 0.225rem
            //     font-variant: small-caps
            //     box-shadow: inset 0 0 0 transparent

            //     &:active, &:focus
            //         color: var(--textPrimary)
            //         box-shadow: inset 0 0 5px 0 var(--primary)

    .SubHeader__Pipe
        padding: 0 16px



    .toolbar
        // width: $thread-width
        margin: 0 auto
        display: flex
        align-items: center
        justify-content: center

    .settings
        margin-left: auto
        right: 13px
        position: relative

    .navigation
        margin-right: auto

    .Button
        // height: 6px
        font-size: 0.85em
        padding-top: 0
        padding-bottom: 0

