@import '~sass/utils'

$header-navbar-padding: 68px
$subheader-border-color: $grey-lightest
// $subheader-border-color: var(--primary)

$new-subheader-height: 50px

.SubHeader

    position: absolute
    +set-dims(100%, $new-subheader-height)

    top: $header-height - $new-subheader-height
    transform: translateY($new-subheader-height) translateZ(0)
    backface-visibility: hidden
    left: 0
    right: 0
    margin: 0 auto
    font-size: $subheader-font-size
    // border-top: 2px solid $grey-lightest
    // z-index: $subheader-z-index + 100
    // +will-change(transform)
    // box-shadow: 0 2px 4px -1px rgba(0,0,0,0.2), 0 4px 5px 0 rgba(0,0,0,0.14), 0 1px 10px 0 rgba(0,0,0,0.12);
    backface-visibility: hidden
    z-index: 600
    font-size: 0.85em

    .background
        transition: opacity $animation-speed-fast $bezier-fast
        background: var(--interfaceColor)
        +set-dims(inherit, inherit)
        position: absolute
        z-index: -1

        &::before, &::after
            position: absolute
            top: 0
            background: inherit
            +size(80px, inherit)

        &::before
            left: 0

        &::after
            right: 0

    .content
        z-index: 2
        width: 100%
        height: 100%
        line-height: 1
        display: flex
        // flex-wrap: block
        align-items: center
        // padding: $header-padding
        border-bottom: 2px var(--interfaceColor) solid
        // box-shadow: 0 0 5px $grey-darkest
        // box-shadow: 0PX 3PX 7px #080808 inset, 0PX -1PX 5px #080808 inset

        // padding-left: 38px
        // padding-right: 14px

    .Button
        margin: 0 .5em

    .HeaderItem
        transition: padding $key-animation-duration $key-bezier-animation-out

        &.SubHeader--left
            margin-left: auto
            margin-right: 0

        &.SubHeader--right
            margin-left: 0
            margin-right: auto
            padding-right: auto

        &.SubHeader--center
            margin: 0 8px

        > *
            display: inline-block


    .SubHeader__search
        display: inline-flex
        padding: 0
        // width: 100%
        flex: 1


        .SearchBarWithIcons
            // $offset: 20px
            width: 100%

            background: var(--headerSearchbar)
            border-bottom: 2px solid var(--greyLight)

            &.SearchBarWithIcons--is-focused
                background: var(--highlight)
                border-bottom: 2px solid var(--primaryDark)
            // min-width: 100%
            // height: $new-subheader-height * 0.66
            // border-radius: 4px

            input
                color: $text-primary
                // padding-left: $offset
            //     text-align: left
            //     min-width: 100%
            //     padding-left: 10px
            //     letter-spacing: 0.225rem
            //     font-variant: small-caps
            //     box-shadow: inset 0 0 0 transparent

            //     &:active, &:focus
            //         color: var(--textPrimary)
            //         box-shadow: inset 0 0 5px 0 var(--primary)


    .SubHeader__Pipe
        padding: 0 16px



    .toolbar
        // width: $thread-width
        margin: 0 auto
        display: flex
        align-items: center
        justify-content: center
        flex: 1;
        margin: 0 1.5em;
        font-size: 12.5px

    .settings
        margin-left: auto
        position: relative

    .navigation
        margin-right: auto

    .Button
        // height: 6px
        font-size: 0.85em
        padding-top: 0
        padding-bottom: 0

    .title-group
        padding: 0 1em
        line-height: 1
        height: 100%
        vertical-align: middle
        width: 240px
        text-align: center

        .title
            letter-spacing: 1px

    .watch-toolbar-icon, .menu-icon
        padding: 0 14px
        font-size: $subheader-icon-size
        line-height: 1
        vertical-align: middle
        cursor: pointer
        height: 100%
        position: relative

    // .watch-toolbar-icon::after
    //     content: ""
    //     height: $subheader-height
    //     // width: 2px
    //     // background-color: $divider
    //     border-right: 2px solid $divider
    //     position: absolute
    //     left: -1px
    //     top: 0
    //     bottom: 0
    //     margin: auto 0

    .segment
        display: flex
        align-items: center
