@import '~styles/base'

$board-info-width: 300px
$board-info-background-color: grey(5)

.BoardInfo
    position: absolute
    left: 100%    
    padding: 6px 12px
    width: $board-info-width
    background: $board-info-background-color
