menu
    position: fixed
    z-index: 10
    height: 84px
    width: 100%
    font-size: 14px
    background-color: $grey
    top: 0
    margin: 0
    padding: 10px

    h2
        width: 300px
        height: 40px
        text-align: center
        position: absolute
        margin: auto
        top: 0
        bottom: 0
        right: 0
        left: 0
