@import '~sass/partials'

.BoardMetadata
    width: 100vw
    margin: 0 auto
    padding: 0 60px
    display: flex
    justify-content: space-between
    font-size: $subheader-font-size
    color: theme(dark, text-secondary)

    .highlight
        color: theme(dark, layout, light)

    .stat
        margin-left: 8px
