// -----------------------
// Animation + Transitions
// -----------------------

$key-animation-duration: .240s
$key-bezier-animation-in: cubic-bezier(0,0,0.2,1)
$key-bezier-animation-out: cubic-bezier(0.4,0,1,1)

$bezier-fast: cubic-bezier(0,0,0.2,1)
$bezier-slow: cubic-bezier(0.4,0,1,1)
$bezier-bounce: cubic-bezier(0.175, 0.885, 0.32, 1.275)

$animation-speed-fast: .240s
$animation-speed-normal: .400s
$animation-speed-slow: .720s

$delay-fast: .05s
$delay-normal: .2s
$delay-slow: .4s
