
// -------------
// App Preloader
// -------------

// $preloader-color-inner: theme(dark, primary)
// $preloader-color-middle: adjust-hue(theme(dark, primary), 120deg)
// $preloader-color-outer: adjust-hue(theme(dark, primary), -120deg)

$preloader-base-color: theme(dark, primary)
$preloader-color-inner: $preloader-base-color
$preloader-color-middle: darken($preloader-base-color, 10%)
$preloader-color-outer: darken($preloader-base-color, 25%)

$preloader-arc-width: 3px
$preloader-spin-multiplier: 1
$preloader-size: 150px

$preloader-text-box-size: 400px


$dropdown-color: grey(7)
$dropdown-color-hover: lighten($dropdown-color, 5%)
