// -----------------
// Font + Typography
// -----------------

$font-main: "OpenSans-Regular"
$font-main-light: "OpenSans-Light"
$font-alt: "Raleway-Regular"
$font-accent: "FaricyNew-Light"
// $font-accent: "Montserrat-Light"
$font-main-bold: "OpenSans-Bold"


$font-dir: 'base/fonts/'
$icon-dir: 'base/icons/'

$line-height: 1.618

$font-size-xsmall: 12px
$font-size-small: 13px
$font-size-medium: 16px
$font-size-large: 20px
$font-size-xlarge: 24px
