

// -------------
// Layering (z-index)
// -------------

// Top level pages:
$homepage-z-index: 1
$contentpage-z-index: 10
$preload-screen-z-index: 99999
// Layout:
$mainheader-z-index: 600
$subheader-z-index: 500
$drawer-z-index: 500
// Components:
$tooltip-z-index: 1000
$thread-tooltip-z-index: 10000
$react-alerts-z-index: 9999
