<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>Lurka</title>
    <style type="text/css">
        body {background: #232221;}
    </style>
</head>
<body>
    <!-- React App -->
    <div id="App"></div>

    <!-- dynamic webpack loading:

    <script type="text/javascript" charset="utf-8">
        const url = require('electron').remote.getCurrentWindow().__WebpackUrl__
        console.log(url);
        // Use config-specified url to load webpack
        var script = document.createElement('script')
        script.src = url
        document.body.appendChild(script)
    </script>
     -->

    <!-- Note:
        If you change anything in config.server you'll have to update
        the script src:
    -->

    <script type="text/javascript" src="http://localhost:3000/app.bundle.js" charset="utf-8"></script>
<!--
    <script type="text/javascript">
        window.recaptchaKey = "6Ldp2bsSAAAAAAJ5uyx_lx34lJeEpTLVkP5k04qc";
    </script> -->
    <script src="https://www.google.com/recaptcha/api.js" async defer></script>
    <!-- <script src="http://www.google.com/recaptcha/api/js/recaptcha_ajax.js" async defer></script> -->

    <!-- <script src='https://www.google.com/recaptcha/api.js?onload=globalOnCaptchaLoaded&render=explicit'></script> -->
    <!-- <script type="text/javascript" src="https://www.google.com/recaptcha/api/fallback?k=6Ldp2bsSAAAAAAJ5uyx_lx34lJeEpTLVkP5k04qc" async defer></script> -->
    <!-- <script src="https://www.google.com/recaptcha/api.js?onload=onRecaptchaLoaded&amp;render=explicit" async="" defer=""></script>
    <script>window.recaptchaKey = "6Ldp2bsSAAAAAAJ5uyx_lx34lJeEpTLVkP5k04qc";</script> -->


</body>
</html>
