@import '~sass/partials'

.BoardToolbarMetadata
    font-size: $subheader-font-size
    color: color(text-secondary)

    > div
        display: inline-block
        padding-right: 16px / $golden-ratio

    .highlight
        color: color(layout, light)
