@import '~sass/partials'

.BoardToolbarMetadata
    font-size: $subheader-font-size
    color: theme(dark, text-secondary)

    > div
        display: inline-block
        padding-right: 16px / $golden-ratio

    .highlight
        color: theme(dark, layout, light)
