/* Centering */
.spinner {
  left: 0;
  right: 0; }

.spinner {
  top: 0;
  bottom: 0; }

@-webkit-keyframes opac {
  100% {
    opacity: 0.95; } }

@-o-keyframes opac {
  100% {
    opacity: 0.95; } }

@keyframes opac {
  100% {
    opacity: 0.95; } }

@-webkit-keyframes rotatespinner {
  0% {
    -webkit-transform: perspective(120px) rotateX(0deg) rotateY(0deg);
            transform: perspective(120px) rotateX(0deg) rotateY(0deg); }
  50% {
    -webkit-transform: perspective(120px) rotateX(-180.1deg) rotateY(0deg);
            transform: perspective(120px) rotateX(-180.1deg) rotateY(0deg); }
  100% {
    -webkit-transform: perspective(120px) rotateX(-180deg) rotateY(-179.9deg);
            transform: perspective(120px) rotateX(-180deg) rotateY(-179.9deg); } }

@-o-keyframes rotatespinner {
  0% {
    transform: perspective(120px) rotateX(0deg) rotateY(0deg); }
  50% {
    transform: perspective(120px) rotateX(-180.1deg) rotateY(0deg); }
  100% {
    transform: perspective(120px) rotateX(-180deg) rotateY(-179.9deg); } }

@keyframes rotatespinner {
  0% {
    -webkit-transform: perspective(120px) rotateX(0deg) rotateY(0deg);
            transform: perspective(120px) rotateX(0deg) rotateY(0deg); }
  50% {
    -webkit-transform: perspective(120px) rotateX(-180.1deg) rotateY(0deg);
            transform: perspective(120px) rotateX(-180.1deg) rotateY(0deg); }
  100% {
    -webkit-transform: perspective(120px) rotateX(-180deg) rotateY(-179.9deg);
            transform: perspective(120px) rotateX(-180deg) rotateY(-179.9deg); } }

@font-face {
  font-family: "Roboto-Medium";
  src: url("../fonts/Roboto-Medium.ttf"); }

@font-face {
  font-family: "Montserrat-Bold";
  src: url("../fonts/Montserrat-Bold.ttf"); }

.spinner {
  width: 80px;
  height: 80px;
  position: absolute;
  margin: auto;
  background-color: #b73229;
  position: fixed;
  -webkit-animation: rotatespinner 1.2s infinite ease-in-out;
       -o-animation: rotatespinner 1.2s infinite ease-in-out;
          animation: rotatespinner 1.2s infinite ease-in-out;
  display: none;
  -webkit-animation-play-state: paused;
       -o-animation-play-state: paused;
          animation-play-state: paused;
  z-index: 3; }
  .spinner.active {
    display: initial !important;
    -webkit-animation-play-state: running !important;
         -o-animation-play-state: running !important;
            animation-play-state: running !important; }

body {
  background-color: #191715;
  color: #E9EBED;
  width: 100vw;
  height: 100vh;
  font-family: "Roboto-Medium"; }

main > * {
  display: none; }

.activePage {
  z-index: 1;
  display: initial !important; }

.thread {
  display: block;
  overflow: hidden; }

.board {
  width: 100vw;
  margin: 0 auto;
  position: relative;
  top: 70px; }
  .board .container {
    text-align: center;
    height: -webkit-calc(100vh - 70px) !important;
    height: calc(100vh - 70px) !important;
    width: 100% !important; }
  .board .quote {
    color: #E9EBED !important; }

.catalogue {
  display: inline-block;
  width: 155px;
  height: 320px;
  margin: 5px 10px 20px;
  padding: 5px;
  padding-bottom: 3px;
  text-align: center;
  border-radius: 4px;
  -webkit-transition: -webkit-box-shadow 0.3s;
  transition: -webkit-box-shadow 0.3s;
  -o-transition: box-shadow 0.3s;
  transition: box-shadow 0.3s;
  transition: box-shadow 0.3s, -webkit-box-shadow 0.3s;
  cursor: pointer; }
  .catalogue::before {
    content: "";
    border-top: #b73229 solid 2px;
    width: 0;
    -webkit-transition: width 0.4s ease-out;
    -o-transition: width 0.4s ease-out;
    transition: width 0.4s ease-out;
    position: relative; }
  .catalogue:hover::before {
    width: 100%; }
  .catalogue img {
    display: inline;
    min-width: 50px;
    max-width: 150px;
    min-height: 50px;
    max-height: 150px; }
  .catalogue .thread-count {
    font-size: 12px;
    text-align: center; }
  .catalogue .thread-op {
    display: block;
    padding: 0 15px; }
    .catalogue .thread-op b.title {
      display: block;
      font-family: "Montserrat-Bold";
      font-weight: 500;
      margin-bottom: 10px; }

/*# sourceMappingURL=app.styles.css.map */
