main
	> *
		display: none

.activePage
	z-index: 1
	display: initial !important


.thread 
	display: block
	overflow: hidden

.board
	width: 100vw
	margin: 0 auto
	position: relative
	top: 70px
	.container
		text-align: center
		height: calc(100vh - 70px) !important
		width: 100% !important


	.quote
		color: $white !important


// Catalogue Structure
.catalogue 
	display: inline-block
	width: 155px
	height: 320px
	margin: 5px 10px 20px
	padding: 5px
	padding-bottom: 3px
	text-align: center
	border-radius: 4px
	transition: box-shadow 0.3s
	cursor: pointer

	&::before 
		content: ""
		border-top: $red solid 2px
		width: 0
		transition: width 0.4s ease-out
		position: relative

	&:hover::before 
		width: 100%

	img 
		display: inline
		min-width: 50px
		max-width: 150px

		min-height: 50px
		max-height: 150px

	.thread-count 
		font-size: 12px
		text-align: center

	.thread-op 
		display: block
		padding: 0 15px

		b.title 
			display: block
			font-family: $font-bold
			font-weight: 500
			margin-bottom: 10px