@import '~sass/partials'

$background-color1: grey(7)
$background-color2: grey(8)

// set pages offscreen
.View
    +set-dims(100vw, 100vh)
    position: fixed
    top: 0
    background: grey(8)
    background: linear-gradient(135deg, $background-color2, $background-color1, $background-color2)
    background: url('~public/backgrounds/dark_wall.png')

.HomeView
    z-index: 1

.ContentView
    z-index: 10

.SettingsView
    z-index: 100
    top: -100%

