@import '~styles/base'

$background-color1: grey(7)
$background-color2: grey(8)

// set pages offscreen
.View
    +set-dims(100vw, 100vh)
    position: fixed
    top: 100%
    background: grey(8)
    background: linear-gradient(135deg, $background-color2, $background-color1, $background-color2)
    background: url('/backgrounds/dark_wall.png')

.ContentView
    top: 0 !important
    z-index: 1

.SettingsView
    z-index: 10

.HomeView
    z-index: 100
