@import '~sass/partials'

.TitledIcon
    +clickable
    font-size: $subheader-font-size
    padding-right: 16px
    color: theme(dark, text-secondary)
    transition: color .2s ease-out

    &:hover, &:active
        color: theme(dark, text-primary)

        .Icon
            color: theme(dark, text-primary)

    &:last-child
        padding-right: 0
        margin-right: 0

    .Icon
        font-size: $subheader-icon-size
        vertical-align: middle
