


// -------------
// Board Related
// -------------
$board-color: grey(8)
$board-post-color: theme(dark, boardpost)
$board-post-width: 236px
$board-post-comment-max-height: 175px
$board-post-shadow-color: theme(dark, boardpost, dark)
$board-post-shadow-hover-color: theme(dark, boardpost, lightest)
