@import '~sass/partials'

$searchbar-height: 30px
$boardlist-height: 40px
$boards-width: 45%

.Boardlist
    +set-dims(684px, 50vh)
    max-height: 500px
    margin: 0 auto
    text-align: left
    border: grey(7) solid 1px
    position: relative
    background-color: grey(8)
    // display: none

    .searchbar
        display: inline-flex
        justify-content: space-around
        height: $searchbar-height
        position: relative
        width: 100%

        .Icon
            font-size: 18px
            padding: 0 8px
            border: grey(7) solid 1px
            background: grey(5)
            line-height: $searchbar-height
            +clickable

        .searchbox-content
            height: 100%

        .searchbox
            flex: 1

    .boardlist
        width: 100%
        height: 100%
        display: none
        position: relative

        &.p-4chan  // change this to '&.active'
            display: block !important

    .boards
        width: $boards-width
        height: calc(100% - #{$searchbar-height})
        display: inline-block

    .description
        height: 100%
        width: 100% - $boards-width
        position: absolute
        top: 0
        right: 0
        display: flex
        justify-content: space-around
        flex-direction: column
        align-items: center

        p
            padding: 10px 30px

        input
            color: grey(1)
            font-family: $font-alt
            font-weight: bold
            font-size: 18px
            padding: 5px 10px
            background-image: linear-gradient(0deg, tint(color(primary), 5%), color(primary))
            border: 1px solid shade(color(primary), 10%)
            border-radius: 2px
            transition: box-shadow .2s ease-out
            box-shadow: 0 2px 4px grey(8)
            text-shadow: 0 0 1px grey(7)
            +clickable
            position: relative

            &:active
                box-shadow: 0 -2px 5px grey(8)
                top: 1px


    .item
        position: relative

        > *
            background: grey(8) !important
            border-color: grey(7) !important

        .Icon
            float: right
            position: relative
            color: grey(5)
            font-size: 20px
            line-height: 24px
            transition: color .3s

            &.mdi-star
                color: #ffe700

        &:hover
            > *
                background: grey(7) !important
            .mdi-star-outline
                color: grey(1)


    // Misc stuff
    .Dropdown
        // Fix for scroller outside of items
        width: auto !important

    .nano-pane
        background-color: grey(7)

    .nano-slider
        background-color: grey(8) !important
