@import '~styles/base'


$thread-animate-in-speed: .850s
$thread-animate-in-easing: $bezier-fast

$thread-animate-out-speed: .150s
$thread-animate-out-easing: $bezier-fast

$thread-end-gap: 200px

.Thread
    .wrapper
        display: none
        +set-dims($thread-width, 100vh)
        position: absolute
        top: 0
        left: 0
        right: 0
        margin: 0 auto
        z-index: 10
        overflow: hidden
        box-shadow: 0 0 0 black

        @include breakpoint(to-tablet)
            width: 100% !important

        &.center-left
            right: $drawer-width

        &.make-visible
            display: initial !important

        &.fadein-boxshadow
            box-shadow: 0 0 4px grey(10)
            transition: box-shadow $animation-speed-normal $bezier-slow

    .content
        +will-change(transform)
        position: absolute
        width: calc(100% + 19px)
        overflow-x: hidden
        overflow-y: scroll
        // top: 100vh
        line-height: $thread-line-height
        background: $thread-color
        transform: translateY(100vh) translateZ(0)

    .nano-pane
        +nano-can-expand(12px)
        width: $thread-scroller-width
        background: grey(9)
        z-index: 2
        margin-top: $header-height

    .Thread__start-gap
        height: $subheader-height
        width: $thread-width - 4px
        border-left: grey(9) solid 5px

    .Thread__end-gap
        height: $thread-end-gap
        width: $thread-width - 4px
        // border-left: grey(9) solid 5px

    .Thread__title
        padding: 24px 16px
        background: grey(8)
        border-left: 4px solid grey(9)
        text-align: center
        font-family: $font-alt
        font-size: 20px
