@import '~styles/base'

.Thread
    .wrapper
        display: none
        +set-dims($thread-width, 100vh)
        position: absolute
        top: 0
        left: 0
        right: 0
        margin: 0 auto
        z-index: 10
        overflow: hidden

        @include breakpoint(to-tablet)
            width: 100% !important

        &.center-left
            right: $drawer-width

        &.make-visible
            display: initial !important

    .content
        +will-change(top)
        position: absolute
        top: 100%  // for thread slide in
        width: calc(100% + 19px)
        // max-width: 100%  // disable horizontal scroll
        overflow-x: hidden
        overflow-y: scroll
        line-height: $thread-line-height
        background: $thread-color

    .nano-pane
        +nano-can-expand(12px)
        width: $thread-scroller-width
        background: grey(9)
        z-index: 2
        margin-top: $header-height
