#board
    position: relative
    height: calc(100vh - 20px)
    width: 100vw
    margin-top: 70px

    .nano-pane
        display: block !important
        
        .nano-slider
            background:  $red

    .nano-content
        display: flex
        flex-wrap: wrap
        align-content: center
        justify-content: center
        // justify-content: space-between
        // +columns(2, $margin: 10px)
        // +breakpoint(from-phablet)
        //     +columns(3, $margin: 20px 8px)
        //     +font-size(14px)
        // +breakpoint(from-tablet)
        //     +columns(4, $margin: 20px 10px)
        //     +font-size(14.5px)
        // +breakpoint(from-desktop)
        //     +columns(5, $margin: 20px 10px)
        //     +font-size(15px)
        // +breakpoint(from-desktop-mid)
        //     +columns(7, $margin: 20px 10px)
        //     +font-size(15.5px)
        // +breakpoint(from-desktop-lrg)
        //     +columns(8, $margin: 20px 10px)
        //     +font-size(16px)
