.board-post
    +set-dims($thread-width, $thread-height)
    font-family: $font-main
    overflow: hidden
    display: inline-block
    margin: 5px 10px 20px
    padding: 5px
    padding-bottom: 3px
    text-align: center
    border-radius: 4px
    cursor: pointer
    background: $black


    img
        display: inline
        +limit-width(175px, 50px)
        +limit-height(150px, 50px)

    .count
        text-align: center

        > span
            width: $thread-width / 2
            display: inline-block
            text-align: center

        b
            margin-left: 4px

        .mdi 
            font-size: 18px

        .mdi-comment-text
            color: $red-light

        .mdi-message-image
            color: $blue-light

    .op
        display: block
        padding: 0 15px

    b.title
        display: block
        font-weight: 500
        margin-bottom: 10px

    a
        color: $white !important
        text-decoration: none
