.spinner
    @include center(80px, 80px)
    background-color: $red-light
    position: fixed
    animation: rotatespinner 1.2s infinite ease-in-out
    z-index: 10
    display: none
    animation-play-state: paused

    &.spinner-active
        display: initial !important
        animation-play-state: running !important

@keyframes rotatespinner
    0%
        transform: perspective(120px) rotateX(0deg) rotateY(0deg)
    50%
        transform: perspective(120px) rotateX(-180.1deg) rotateY(0deg)
    100%
        transform: perspective(120px) rotateX(-180deg) rotateY(-179.9deg)
