.thread-post
    background-color: $grey
    overflow: hidden
    display: block
    width: 1004px
    margin-bottom: 4px
    text-align: left
    padding: 2px 8px

    @include breakpoint(to-tablet)
        width: 100% !important
    // border-bottom: $grey-light solid 1px

    &:last-child
        margin-bottom: 0

    blockquote
        margin: 15px 25px

    .thread-post-info
        +font-size(14px)
        text-shadow: 0px 0px 4px black;

        > *
            margin-left: 8px

        .mdi-dots-vertical
            /* submenu */
            float: right
            margin-right: 20px
            font-size: 28px
            font-weight: bold
            cursor: pointer
            border-radius: 0 0 4px 4px
            height: 42px
            &:hover
                border: $grey-dark solid 1px
                border-top: none
                background: $white
                color: $grey-dark

    .img-container
        float: left
        margin-bottom: 10px
        position: relative

        &.img-container-opened
            float: none
            
        .thumbnail
            margin-right: 10px

        .expanded
            max-width: 100%

        .fullscreen
            +set-dims(30px, 30px)
            position: absolute
            top: 3px
            right: 3px
            opacity: 0.5
            transition: opacity 0.2s ease-in
            cursor: pointer
            z-index: 2

            &:hover
                opacity: 1
                transition: opacity 0.15s ease-in


            .fa-circle 
                color: $grey-dark

            .fa-expand
                color: $white



    br
        line-height: 0.8

    .title
        z-index: 1

    .quotelink
        color: $red
        text-decoration: none

        &:hover
            color: $red-light
            transition: 0.3s ease-out