
// --------------
// Header Related
// --------------
$header-width: 992px
$header-height: 64px
$header-icon-size: 20px
$header-border-color: theme(dark, primary, darkest)
$header-padding: 0 16px 0 16px
$header-logo-padding: 56px

$subheader-width: $thread-width - 7px
$subheader-height: 48px
$subheader-icon-size: 18px
$subheader-font-size: 14px

