// ----------------
// Settings Related
// ----------------
// $settings-drawer-width: 256px
$settings-drawer-width: 256px * 1.33
// $drawer-width: 256px
$drawer-width: 256px * 1.33

$settings-color: grey(3)
$settings-font-size-ratio: 1.2
$settings-font-size-large: $font-size-large * $settings-font-size-ratio
$settings-font-size-medium: $font-size-medium * $settings-font-size-ratio
$settings-font-size-small: $font-size-small * $settings-font-size-ratio

// deprecated - refactor to be used by settings
$navbar-width: 385px
$navbar-height: calc(100vh - #{$header-height})
$navbar-icon-size: 18px
$navbar-button-effect-amount: 20%
