@import '~sass/utils'

.Checkbox
    width: 20px
    position: relative
    display: inline
    margin-left: 6px

    label
        +square(20px)
        cursor: pointer
        position: absolute
        top: 0
        left: 0
        background: linear-gradient(to top, $grey-darkest, $grey-dark)
        border-radius: 4px
        box-shadow: inset 0px 1px 1px rgba(0,0,0,0.5), 0 0 4px rgba(255,255,255,.3)
        &::after
            content: ''
            width: 9px
            height: 5px
            position: absolute
            top: 4px
            left: 4px
            border: 3px solid #fcfff4
            border-top: none
            border-right: none
            background: transparent
            opacity: 0
            transform: rotate(-45deg)

    &:hover::after
      opacity: 0.3

    input[type=checkbox]
        visibility: hidden
        &:checked + label::after
            opacity: 1


