// Font size
@function calculateRem($size)
    $remSize: $size / 16px
    @return $remSize * 1rem

=font-size($size)
    font-size: $size
    font-size: calculateRem($size)


// Centering
%cenH
    left: 0
    right: 0

%cenV
    top: 0
    bottom: 0

=position($top:auto, $left:auto, $bottom:auto, $right:auto)
    top: $top
    left: $left
    bottom: $bottom
    right: $right

=center($width, $height)
    width: $width
    height: $height
    position: absolute
    margin: auto
    @extend %cenH
    @extend %cenV

=center-horizontal($width)
    width: $width
    position: absolute
    margin: 0 auto
    @extend %cenH

=center-vertical($height)
    height: $height
    position: relative
    transform: translateY(-50%)
// Centering end


=limit-width($max, $min)
    max-width: $max
    min-width: $min

=limit-height($max, $min)
    max-height: $max
    min-height: $min

=set-dims($w, $h)
    width: $w
    height: $h

=set-mins($w, $h)
    min-width: $w
    min-height: $h

=set-max($w, $h)
    max-width: $w
    max-height: $h

=gradient($color)
    $tint: tint($color)
    background: $color
    background: linear-gradient(to bottom, $tint, $color, $tint)

=square($size)
    height: $size
    width:  $size
