@import '~sass/partials'

@import '~sass/partials'

$navbar-central-font-size: 24px

.HeaderTitle
    font-size: $navbar-central-font-size
    font-family: $font-main !important //font-for(HeaderTitle) !important
    color: theme(dark, text-primary)
    +no-select
    height: 100%
    font-size: 24px
    display: flex
    align-items: center
    letter-spacing: 0.25em

    .Icon
        color: theme(dark, text-secondary)
        line-height: 1
        font-size: 22px
        position: relative
        top: 4px
        padding-right: 0 !important
        font-size: inherit
        vertical-align: bottom

    .button
        +clickable
        transition: color .24s $bezier-fast
        background: none
        border: transparent 2px solid
        outline: none
        color: inherit
        font-family: inherit
        z-index: 10
        background: grey(8)
        height: calc(100% - 2px);
        letter-spacing: inherit
        padding: 8px
        white-space: nowrap

    .title-small
        display: none

    @include breakpoint(to-phablet)
        .title-normal
            display: none
        .title-small
            display: initial

    .Icon
        position: relative
        transition: all .2s ease
        transition-property: color, top

    &:hover .Icon
        top: 4px
        color: theme(dark, layout)


    // @include breakpoint(from-tablet) {
    //     .button
    // }
