@import ./homePanel
@import ./boardPanel
@import ./threadPanel
@import ./globalPanel
@import ./settingsPanel


$background-color1: grey(7)
$background-color2: grey(8)

// set pages offscreen
.page 
    +set-dims(100vw, 100vh)
    position: fixed
    top: 100%
    background: grey(8)
    background: linear-gradient(135deg, $background-color2, $background-color1, $background-color2)
    background: url('/backgrounds/dark_wall.png')

.page-home
    z-index: 1

.page-board
    z-index: 10
    box-shadow: 

.page-thread
    z-index: 50

.page-settings
    z-index: 1000

.page-global
    z-index: 1000
