.board-post
    /* initial position offscreen, positioned via JS */
    position: absolute

    width: $board-post-width
    max-height: $board-post-height

    font-family: $font-main
    text-align: center
    cursor: pointer
    overflow: hidden
    border-radius: 4px 4px 8px 8px
    background: $board-post-color
    box-shadow: $board-post-shadow-color 0 0 0
    border: 2px solid $board-post-color

    transition: all .4s ease-out
    transition-property: top, left, box-shadow
    visibility: hidden
    opacity: 0

    &.animate
        visibility: visible

    &:hover
        transition: all .2s
        // border-top: 2px solid color(primary)
        box-shadow: $board-post-shadow-hover-color 0 0 10px

        .counters
            opacity: 1

            > div
                border-color: grey(7)

        .comment-wrap
            border-top: color(primary)

    
    .image-wrap
        user-select: none
        position: relative


    img
        max-width: 100%
        display: inherit
        margin: 0 auto
        height: auto


    .comment-wrap
        padding-top: 6px
        position: relative
        background: inherit
        top: 0
        transition: top .2s ease-out
        box-shadow: grey(8) -4px 0 4px


    .op
        padding: 0 15px
        padding-bottom: 10px
        width: 100%
        word-wrap: break-word !important

    b.title
        display: block
        padding: 4px 0 6px

    a
        color: grey(1) !important
        text-decoration: none


    /* Counters + Icons */
    .counters
        position: absolute
        text-align: right
        top: -27px
        right: 0
        user-select: none
        opacity: 0.4
        transition: opacity .3s

        ::after 
            content: ""
            +center-horizontal(80%)
            border-bottom: lighten(grey(8), 15%) solid 1px
            bottom: -2px

        > div
            line-height: 25px
            padding: 0 6px
            margin-left: 2px
            color: grey(1)
            background: grey(8)

            transition: border-color .3s
            border: grey(8) solid 1px
            border-bottom: none
            border-radius: 2px 2px 0 0

        .counter
            display: inline
            font-weight: bold
            
    .mdi 
        margin-right: 4px
        font-size: 18px

    .mdi-comment-text
        color: color(primary, light)

    .mdi-image-filter-hdr
        color: color(links)

