.page-home
    text-align: center
    background: $black

    .providers
        margin-top: 300px

    .status
        line-height: $header-height
        height: $header-height
        float: left
        font-weight: bold
        padding-left: 5px


    
