.page-home
    top: 0 !important
    text-align: center
    z-index: 1
    background: $grey-dark !important

    .status
        line-height: $header-height
        height: $header-height
        float: left
        font-weight: bold
        padding-left: 5px

    .logo-wrap
        +set-dims(108px, 108px)
        display: inline-block
        padding-top: 190px

    
