.thread-wrap
    position: fixed
    display: none
    +set-dims($thread-width, 100vh)
    top: 0
    left: 0
    right: 0
    margin: 0 auto
    z-index: 10

    @include breakpoint(to-tablet)
        width: 100% !important

    &.thread-wrap-active
        display: initial !important

    .nano-content
        top: 100%

    .nano-pane
        width: 5px
        cursor: grab
        background: grey(9)


        &:hover 
            width: 12px
            transition: width .2 ease-in

        &:active
            width: 12px

.thread
    position: absolute
    top: 100%
    overflow: hidden
    line-height: $thread-line-height
    background: $thread-color

    // gap for header at top of thread
    .header-gap
        height: $header-height
