.thread-post
    background-color: $thread-post-color
    display: block
    width: $thread-width - 4px
    text-align: left
    padding: 2px 8px
    position: relative
    transition: background .2s ease-out
    border-bottom: grey(9) solid 4px

    @include breakpoint(to-tablet)
        width: 100% !important

    &:hover
        background-color: lighten($thread-post-color, 1%)
    &:last-child
        border: none

    blockquote
        margin: 15px 25px
        margin-top: 0

    .media-info
        font-size: 12px
        position: relative
        bottom: 6px

        > span
            margin-right: 4px

        .fileinfo
            color: grey(3)

        .icon
            color: color(secondary, light)
            font-size: 13px
            position: relative
            top: 1px

    .post-info
        +font-size($thread-post-info-size)
        padding: 5px 0
        color: color(text-secondary)

        > *
            display: inline-block
            padding: 0 4px

        .title
            color: color(text-primary) !important
            strong
                margin-right: 5px

        .id
            font-family: $font-alt

        .name
            color: color(primary, darkest)
            font-weight: bold

        .controls
            font-size: 18px
            float: right

            li
                color: grey(4)
                display: inline-block
                margin-left: 2px
                +clickable
                transition: all .2s ease-out

                &:hover
                    color: $secondary
                    opacity: 1
                    border-bottom: $secondary 1px bold

                span
                    padding: 6px

    // Reference block
    .references
        display: block
        clear: both
        color: grey(4)
        padding-bottom: 2px

        .line
            width: $thread-width - 142px
            margin: 0 auto

        .reference-header
            margin-right: 6px

            .reply-count
                position: relative
                bottom: 2px
                font-size: 13px

        .quotelink
            margin-right: 5px
            display: inline-block
            font-size: 13px
            color: color(primary, darkest) !important


    // TODO: This needs to be redone
    .img-container
        float: left
        margin-bottom: 5px
        position: relative

        &.img-container-opened
            float: none
            
        .thumbnail
            margin-right: 10px

        .expanded
            max-width: 100%

        .fullscreen
            +set-dims(30px, 30px)
            position: absolute
            top: 3px
            right: 3px
            opacity: 0.5
            transition: opacity 0.2s ease-in
            +clickable
            z-index: 2

            &:hover
                opacity: 1
                transition: opacity 0.15s ease-in


            .fa-circle 
                color: grey(7)

            .fa-expand
                color: grey(1)



    br
        line-height: 0.8

    .title
        z-index: 1


    &.highlight
        position: relative
        background: color(highlight)
        transition: none !important

        &:before 
            content: ""
            transition: all 1s ease-out
            position: absolute
            left: 0
            top: 0
            width: 2px
            height: 100%
            background: color(primary)


    /* Tooltip */
    &.tip
        z-index: 10000
        border: 1px dashed color(primary)
        position: absolute
        max-width: 800px
        width: 100%
        padding-right: 10px
        word-wrap: break-word
        white-space: pre-line
        box-shadow: 0 3px 8px grey(9)

        a
            color: color(primary)

    /* 4chan links */
    .quote
        color: color(greentext)

    .deadlink
        color: color(text-disabled)
        text-decoration: line-through
        font-weight: bold
        font-family: $font-alt
    
        &::after
            content: "(404'd)"
            text-decoration: none
            display: inline-block
            vertical-align: bottom
            margin: auto 4px
            font-size: 11px
            color: color(text-secondary)
            font-family: $font-main

    .quotelink
        color: color(primary)
        text-decoration: none
        font-weight: bold
        transition: 0.1s ease-out
        font-family: $font-alt
        font-size: 15px
        +clickable
        
