@import '~sass/partials'

.Hierarchy
    display: inline-block
    padding: 0 10px
    font-size: $font-size-large

    li
        display: inline-block

    span
        margin: 0 2px
        color: color(text-secondary)
        font-family: Consolas

    .threadID
        font-family: for-for(Hierarchy__threadID)
