@import '~sass/partials'

.BoardListItem
    display: flex
    padding: 4px 0
    background-color: grey(8)
    transition: background-color .15s .05s $bezier-slow


    &:hover
        cursor: grab
        transition: background-color .2s $bezier-fast
        background-color: darken(color(primary), 30%)

    &:active
        cursor: grabbing

.BoardListItem__title-wrap
    display: inline-block
    min-width: 230px

    .BoardListItem__title
        font-size: $font-size-large
        font-family: $font-accent
        padding: 12px 24px
        text-align: right

.BoardListItem__metadata-wrap
    display: inline-block
    .BoardListItem__description
    .BoardListItem__tags
        display: flex

    .BoardListItem__tag
        font-family: $font-alt
        font-size: $font-size-small
        color: color(text-secondary)
        padding-right: 12px
