@function c($key, $var:null) {
    $c: map-get($base-colors, $key);
    @if ($var != null) {
        @return nth($greys, $var);
    }
    @return $c;
};


$primary: c(punch);
$primary: #f12b24; // youtube
$primary: #E74C3C;
$primary: #f44336; // material design
$primary: #A50100; // periphery
$primary: #b73433; // periphery light

// $primary: lighten(c(punch), 10%);
// $primary: #D13438;

// $primary: #F44336;  // original
// $primary: #c3362b;  // dark 20%

$secondary: #4285F4;
$background-tint: $secondary;


@function color-tint($color) {
    // @return adjust-color($color, $red: -2, $blue: 2);
    // @return adjust-color($color, $red: -2, $green: -1);
    @return adjust-color($color, $red: 3, $blue: -3);
}

// Helper functions end



// Function to access to the color palette. Takes a color name and shade. E.g:
// color(primary, light)
// color(secondary, dark)
@function color($color-name, $shade:null) {
    $color: map-get($dark-palette, $color-name);

    @if ($shade) {
        $shade-color: nth(color-shade($shade), 1);
        $percent: nth(color-shade($shade), 2);

        @return mix($shade-color, $color, $percent);
    }

    @return $color;
};
