@import '~styles/base'

$thread-post-control-width: 200px

.ThreadPost
    background-color: $thread-post-color
    display: block
    width: $thread-width - 4px
    text-align: left
    padding: 2px 8px
    position: relative
    transition: background .2s .1s ease-out
    border-bottom: grey(9) solid 4px
    border-left: grey(9) solid 5px
    overflow: hidden

    @include breakpoint(to-tablet)
        width: 100% !important

    &:last-child
        border-bottom: none

    &:before
        content: ""
        transition: background .2s .1s ease-out
        position: absolute
        +position(0, 0)
        +set-dims(2px, 100%)
        background: color($thread-post-color)

    &.highlight
        position: relative
        background: color(highlight)
        transition: none !important

        &:before
            transition: none !important
            background: color(primary)

    /* Tooltip */
    &.tip
        z-index: 10000
        border: 1px dashed color(primary)
        position: absolute
        max-width: 800px
        width: auto
        padding-right: 40px
        word-wrap: break-word
        white-space: pre-line
        box-shadow: 0 3px 8px grey(9)

        a
            color: color(primary)

        .thread-media
            margin-right: 10px
            float: left
        .dual-media-thumbnail
            display: initial !important
        .dual-media-children
            display: none !important











    blockquote
        margin: 15px 25px
        margin-top: 0

    .media-info
        font-size: 12px
        position: relative
        bottom: 6px

        > span
            margin-right: 4px

        .fileinfo
            color: grey(3)

        .Icon
            color: color(secondary, lightest)
            font-size: 13px
            position: relative
            top: 1px

    .post-info
        +font-size($thread-post-info-size)
        padding: 5px 0
        color: color(text-secondary)

        > *
            display: inline-block
            padding: 0 3px

        .title
            color: color(text-primary) !important
            strong
                margin-right: 5px

        .id
            font-family: $font-alt

        .name
            padding-left: 0px

    // Reference block
    .references
        display: block
        clear: both
        color: grey(4)
        padding-bottom: 2px

        .Line
            width: calc(100% - 142px)
            margin: 0 auto

        .reference-header
            margin-right: 6px

            .reply-count
                position: relative
                bottom: 2px
                font-size: 13px

        .quotelink
            margin-right: 5px
            display: inline-block
            font-size: 13px
            color: color(primary, dark) !important

    br
        line-height: 0.8

    .title
        z-index: 1



    /* 4chan links */
    .quote
        color: color(greentext)

    .deadlink
        color: color(text-disabled)
        text-decoration: line-through
        font-weight: bold
        font-family: $font-alt

        &::after
            content: "(404'd)"
            text-decoration: none
            display: inline-block
            vertical-align: bottom
            margin: auto 4px
            font-size: 11px
            color: color(text-secondary)
            font-family: $font-main

    .quotelink
        color: color(primary)
        text-decoration: none
        font-weight: bold
        transition: 0.1s ease-out
        font-family: $font-alt
        font-size: 15px
        +clickable


.thread-post-controls
    font-size: 18px
    position: absolute
    right: 0
    top: 0


    .controls-menu-toggle
        +clickable
        margin-top: 2px
        color: color(primary)
        padding-right: 10px
        font-size: 22px


    .controls-menu
        position: absolute
        width: $thread-post-control-width
        right: -$thread-post-control-width
        top: 0
        background-color: grey(8)
        padding: 12px
        padding-left: 2px
        padding-top: 8px
        z-index: 1

        li
            color: grey(4)
            margin-left: 2px
            +clickable
            transition: color .1s ease-out
            list-style-type: none

            &:hover
                color: color(primary, light)

            span
                padding: 6px

    &:hover .controls-menu
        right: 0
        transition: right .4s cubic-bezier(0.19, 1, 0.22, 1)



/* Media */
.thread-media
    display: flex
    margin-bottom: 4px

    &:not(.toggled)
        margin-right: 10px
        float: left

    &.toggled
        margin-bottom: 0.8em

    video, img
        max-width: 100%
        align-self: center

    .expanded
        display: inline-block
        // TODO: dynamic class setting on thread images; limit height
        max-height: calc(100vh - $header-height)

    .limit-height
        max-height: calc(100vh - $header-height)

    .Spinner
        +center(40px, 40px)
