@import '~sass/partials'

.Button
    +clickable
    position: relative
    display: inline-block
    padding: 6px 12px
    border: 1px solid rgba(0, 0, 0, 0)
    outline: none
    border-radius: 2px
    color: var(--textPrimary)
    background: var(--primary)
    margin: 6px
    font-family: font-for(Button)
    text-align: center
    padding: .61538462em 1em
    touch-action: manipulation
    text-decoration: none
    min-height: 2.46153846em
    vertical-align: middle
    box-sizing: border-box
    background-image: linear-gradient(to bottom, transparent 0%, rgba(0, 0, 0, 0.2) 100%)

    &.border-accent
        border: 1px solid var(--primary)
        background: inherit
        transition: background .2s ease-out

        &:hover
            background: var(--primary)
