@import '~sass/partials'

.Dashboard
    +size(100vw, 100vh)

    .Dashboard__header
        +size(100%, 40%)
        background-color: grey(6)
        padding: 12px 80px

    .Dashboard__boards
        +size(100%, 60%)
        background-color: grey(6)
