@import '~sass/partials'

@import '~sass/partials'

$navbar-central-font-size: 24px

.Title
    font-size: $navbar-central-font-size
    font-family: $font-main
    color: color(text-primary)
    +no-select
    height: 100%
    font-size: 24px
    display: flex
    align-items: center

    .Title__icon
        +clickable
        display: inline-block
        border: 1px solid grey(8)
        background: grey(7)

        &:hover
            border-color: grey(6)

        .Icon
            color: color(text-secondary)
            line-height: 1
            font-size: 22px
            position: relative
            top: 2px

        .Circle
            display: none

    .button
        +clickable
        transition: color .24s $bezier-fast
        background: none
        border: transparent 2px solid
        outline: none
        color: inherit
        font-family: $font-main-light
        z-index: 10
        background: grey(8)
        height: 100%
        letter-spacing: 0.25em
        padding: 8px
