@import '~sass/partials'

/* Counters + Icons */
.BoardPostHeader
    user-select: none
    display: flex

    padding: 0 12px
    color: color(text-secondary)
    font-size: $font-size-small
    font-family: $font-main-light

    .counter
        display: inline-block
        padding: 0 3px

        &.timeago
            margin-right: auto

    .Icon
        margin-right: 2px
        &::before
            vertical-align: top

