// $primary: #C62828
$primary: #EA4335
$primary-dark: shade($primary, 12%)
$primary-light: tint($primary, 12%)

$secondary: complement($primary)
$secondary-dark: complement($primary-dark)
$secondary-light: complement($primary-light)

$white: #E9EBED
$blue-light: #6EC4E7
$blue: #4EADF3

$green: #85d82c

// $accent: complement(shade($primary, 10%))

// $grey: #303030
// $grey-light: #727272
// $grey-dark: #1C1A1A
// $black: #161412
// 


@function mix-prim($color)
    @return mix($primary, $color, 1%)

$black: mix-prim(#212121)
$grey-dark: mix-prim(#303030)
$grey: mix-prim(#383838)
$grey-light: mix-prim(#454545)
$grey-highlight: mix-prim(#888)

// $black: #212121
// $grey-dark: #302b2b
// $grey: #403a3a
// $grey-light: #8e8888


// .page 
    // background: $accent !important


$color-4chan: #7ce61a
$color-4chan-dark: #016600
$color-reddit: #ff4500
