$base-colors: (
    cinnabar:  #EA4335,  // $primary
    seagull:   #6EC4E7,  // $blue-light
    picton:    #4EADF3,  // $blue
    denim:     #1485CC,  // triad of cinnabar, use for tint?
    atlantis:  #85d82c,  // $green
    fern:      #55b359,  // 4chan
    vermilion: #FF4500,  // reddit
);

$color-shades: (
    darkest: (#000, 20%),
    dark: (#9E9E9E, 20%),
    light: (#fff, 20%),  
    lightest: (#fff, 80%),
);

$greys: (
    #F5F5F5, // 1
    #E0E0E0,
    #BDBDBD,
    #9E9E9E,
    #757575, // 5
    #616161,
    #424242,
    #303030,
    #212121,
    #000000, // 10
);

@function color-shade($key) {
    @return map-get($color-shades, $key);
};

@function c($key, $var:null) {
    $c: map-get($base-colors, $key);
    @if ($var != null) {
        @return nth($greys, $var);
    }
    @return $c;
};


$primary: c(cinnabar);
$secondary: c(denim);
$background-tint: c(denim);

@function color-tint($color) {
    @return mix($background-tint, $color, 2%)
}

@function grey($index) {
    $grey: nth($greys, $index);    
    @return color-tint($grey);
};

$color-palette: (
    primary:        $primary,
    secondary:      $secondary,
    links:          c(picton),
    greentext:      c(atlantis),
    fourchan:       c(fern),
    reddit:         c(vermilion),
    text-primary:   rgba(255,255,255, 1),
    text-secondary: rgba(255,255,255, 0.7),
    text-disabled:  rgba(255,255,255, 0.5),
    divider:        rgba(255,255,255, 0.12),
    highlight:      mix($primary, grey(7), 10%),
    boardpost:      grey(8),
    threadpost:     grey(7),
    
);

@function color($color, $variant:null) {
    $x: map-get($color-palette, $color);

    @if ($variant) {
        $shade: nth(color-shade($variant), 1);
        $percent: nth(color-shade($variant), 2);
        @return mix($shade, $x, $percent);
    }
    @return $x;
};

