// $primary: #9d0000
$primary: #C62828
$primary-dark: #3F0E0E
$primary-light: #DB4A3B
$white: #E9EBED
$blue-light: #6EC4E7
$blue: #4EADF3

$green: #85d82c

// $grey: #303030
// $grey-light: #727272
// $grey-dark: #1C1A1A
// $black: #161412
$black: #212121
$grey-dark: #303030
$grey: #383838
$grey-light: #454545
// $black: #282828
