// TODO - Still experimenting

// $black: #212121
$black: #161412
$dark-grey: #191715
$dark-red: #1d1b1b
// $dark-red: #211d1d
$grey: #3f3f3f
$light-grey: #e0dbdb
// $red: #e46a68
$red: #b73229
$green: #349951
$blue: #6EC4E7
$white: #E9EBED
