@keyframes opac
	100% 
		opacity: 0.95

	
@keyframes rotate
    100%
        transform: rotate(359.9deg)


@keyframes scale
    0%
        opacity: 1
        transform: scale(0.96)

    100%
        opacity: 1
        transform: scale(1)    

// 0.25s cubic-bezier(0.31, 1, 0.34, 1) forwards
