body
    background: $grey-dark !important
    color: $white
    font-family: $font-main
    overflow: hidden
    line-height: $line-height

h1, h2, h3, h4, h5, h6
	font-family: $font-alt

a
	color: $blue-light

#App 
    width: 100vw
    position: absolute
    left: 0
    top: 0

pre
    display: inline-block
    background: #2f2b2b
    padding: 6px 16px

textarea:focus, input:focus
    outline: none

[placeholder]:focus::-webkit-input-placeholder
    transition: opacity 0.5s ease
    opacity: 0

::selection 
    background-color: $primary
    color: #ffffff

// Nano stuff
.nano-slider
    background: $primary !important

img
    user-select: none
