// TODO - Still experimenting
$font-fallback: sans-serif

$font-main: "OpenSans-Regular"
@font-face
	font-family: $font-main, $font-fallback
	src: url( 'fonts/' + $font-main + '.ttf' )

$font-alt: "Raleway-Regular"
@font-face
	font-family: $font-alt, $font-fallback
	src: url( 'fonts/' + $font-alt + '.ttf' )
