/* Content */
$thread-width: 236px
$thread-height: 450px

$line-height: 1.6

$thread-line-height: 1.618

$board-color: $black
$board-post-color: $grey-dark
$board-post-hover-color: mix($primary, $board-post-color, 8%)
 
$header-width: 992px
$header-height: 60px
