/* Base Variables */
$line-height: 1.6
$font-size-small: 13px
$font-size-medium: 16px
$font-size-large: 20px


/* Content */
$thread-width: 236px
$thread-height: 450px


$thread-line-height: 1.618

$board-color: $black
$board-post-color: $grey-dark
 
$header-width: 992px
$header-height: 60px

$settings-color: shade($grey-hightlight, 30%)

$settings-font-size-ratio: 1.2
$settings-font-size-large: $font-size-large * $settings-font-size-ratio
$settings-font-size-medium: $font-size-medium * $settings-font-size-ratio
$settings-font-size-small: $font-size-small * $settings-font-size-ratio
