@import '~styles/base'
$header-navbar-padding: 40px

.HeaderNav
    position: absolute
    +set-dims(100vw, $header-height)
    +position(0, 0)
    // top: -$header-height  // hide on start
    border-bottom: 2px $header-border-color solid
    border-bottom: 2px $header-border-color solid
    z-index: 500

    &::before
        content: ''
        position: absolute
        top: -2px
        left: 0
        width: inherit
        border-top: 2px $header-border-color solid

    .background
        opacity: 0.95
        background: grey(8)
        +set-dims(100%, 100%)
        position: absolute
        z-index: -1

    .content
        width: calc(100% - #{$header-navbar-padding})
        line-height: $header-height
        display: flex
        justify-content: center
        margin-left: $header-navbar-padding
        flex-wrap: block

    .HeaderItem
        align-self: center
        padding: 0 8px
        margin-left: 0
        transition: padding $key-animation-duration $key-bezier-animation-out

        &.left
            margin-right: auto

        &.right
            margin-left: auto
            padding-right: 0

        &.center
            margin: 0 8px

        .Icon
            font-size: $header-icon-size
            +clickable
            &:hover, &:active
                color: color(primary)
                transition: color .2s ease-out

    &.drawer-open
        .HeaderItem
            padding-right: $drawer-width
            transition: padding $key-animation-duration $key-bezier-animation-in

    .ButtonCircle
        font-size: 18px
