@import '~styles/base'
$header-navbar-padding: 40px

.HeaderNav
    position: fixed
    +set-dims(100vw, $header-height)
    +position(0, 0)
    // top: -$header-height  // hide on start
    border-bottom: 2px color(primary, darkest) solid
    z-index: 500

    .background
        opacity: 0.95
        background: grey(8)
        +set-dims(100%, 100%)
        position: absolute
        z-index: -1

    .content
        width: calc(100% - #{$header-navbar-padding})
        line-height: $header-height
        display: flex
        justify-content: center
        margin-left: $header-navbar-padding

    .HeaderItem
        align-self: center
        padding: 0 8px
        margin-left: 0

        &.left
            margin-right: auto

        &.right
            margin-left: auto
            padding-right: 0
            transition: padding 240ms cubic-bezier(0.4,0,1,1);


        &.center
            margin: 0 8px

        .Icon
            color: color(text-secondary)
            font-size: 20px

            &:after
                +circle(34px)
                background-color: blue

    &.drawer-open
        .HeaderItem.right
            padding-right: $drawer-width
            transition: padding 240ms cubic-bezier(0,0,0.2,1);

    .ButtonCircle
        font-size: 18px
