@import '~styles/base'

.Board
    position: relative
    +set-dims(100vw, 100vh)

    .nano-pane
        +nano-can-expand(12px)
        display: block !important
        margin-top: $header-height + 2px
        margin-bottom: 2px
        width: $board-scroller-width
        right: 3px

    .posts
        position: relative
        height: calc(100% - #{$header-height})

    pre
        width: 100%
        display: inline-block
        text-overflow: ellipsis
        text-align: left !important
        overflow: hidden

    &.show-all
        .BoardPost
            visibility: visible !important
            opacity: 1 !important
            animation: none !important

    &.disable-animations
        .BoardPost
            transition: none !important

    &.move-scrollbar
        .side-icons
            margin-right: $drawer-width

        .nano-pane
            right: $drawer-width + 5px

    .side-icons
        // stay above drawer and board posts
        z-index: 1000

        .side-icon-wrap
            display: block
            margin-bottom: 12px
        .Circle
            +circle(34px)
            +center-icon
            +clickable
            background: grey(6)
