@import '~styles/base'

.board
    position: relative
    +set-dims(100vw, 100vh)

    .nano-pane
        display: block !important
        margin-top: $header-height
        width: 6px

    .posts
        position: relative

    pre
        width: 100%
        display: inline-block
        text-overflow: ellipsis
        text-align: left !important
        overflow: hidden

    .animate 
        transform: translateY(200px)
        animation: moveUp 0.65s ease forwards

    &.show-all
        .board-post
            opacity: 1 !important


.react-alerts
    position: fixed !important
    z-index: 9999 !important

    .alert 
        z-index: 9999 !important

