@import '~sass/partials'

.Board
    position: relative
    +set-dims(100vw, calc(100vh - $header-height))
    top: $header-height
    background: theme(dark, board)
    background-image: linear-gradient(to bottom, theme(dark, board, darkest), theme(dark, board))

    .nano-pane
        +nano-can-expand(12px)
        display: block !important
        margin-top: $header-height + 2px
        margin-bottom: 2px
        width: $board-scroller-width
        right: 3px

    .posts
        position: relative
        height: calc(100% - #{$header-height})

    pre
        width: 100%
        display: inline-block
        text-overflow: ellipsis
        text-align: left !important
        overflow: hidden

    &.disable-animations
        .BoardPost
            visibility: visible !important
            opacity: 1 !important
            animation: none !important
            transform: none !important

    // Disable link clicking
    a
        pointer-events: none

    .Button
        // background-image: linear-gradient(to bottom, grey(5), grey(6))
        // background-image: linear-gradient(to bottom, theme(dark, layout), theme(dark, layout, dark))
        background-color: theme(dark, layout, dark)
        margin: 12px 24px
        font-family: font-for(Board__Button)
        border: theme(dark, layout, darkest) solid 1px
        box-shadow: 0 1px 1px grey(10)
        transition: all .2s
        text-shadow: 0 1px 1px grey(4)

        &:hover
            // background-image: linear-gradient(to top, theme(dark, layout), theme(dark, layout, dark))
            box-shadow: 0 1px 4px grey(10)
            background-color: theme(dark, layout, darkest)

    .Board__Spinner
        top: 400px
        bottom: auto

        &::before
            content: "Loading..."
            font-size: 20px
            text-align: center
            position: relative
            bottom: -100%
            width: inherit
            left: -10px
            // left: -5px
            // transform: translateX(50%)

            // top: 80px
