.background
    +set-dims(100%, 100%)
    z-index: 10
    position: fixed
    background-color: $black
    top: 0
    left: 0
    opacity: 0
    display: none

    &.background-active
        display: initial
        animation: opac 0.2s forwards;
