@import '~sass/partials'

.Notification
    position: relative
    display: inline-block

    &__content
        display: none
        position: absolute
        top: -7px
        left: 34px
        padding: 1px 5px 2px 3px
        line-height: 1
        font-size: .625rem
        color: color(text-primary)
        text-decoration: none
        letter-spacing: -.075em
        border-radius: 6px 6px 6px 0
        background: color(primary)

    &__content--active
        display: initial
