@import '~sass/utils'

$size: 64px
$width: $size * $gld
$height: $size * 1.333
// @error $height
$right: $board-scroller-width * 2 - 1

$icon-size: 52px


.ToTopButton
    +clickable
    +size($width, $height)
    +no-select
    position: fixed
    right: $right
    bottom: $width / $gld
    z-index: $board-to-top-button
    background: $grey-lightest
    border: 2px solid $grey-lightest
    border-right: 2px solid transparent
    // border-radius: 50%
    text-align: center
    // margin: $size / 2
    transform: translateX(#{$width + $right}) scale(1)
    transition: transform .24s $bezier-fast, border-color .24s $bezier-fast
    overflow: hidden
    color: $text-secondary

    &.is-visible
        transform: translateX(0)

    &:hover
        border-color: var(--primaryDark)
        // transform: scale(1.3)
        background: $highlight-color

        .ToTopButton__icon
            top: 0
            transform: scale(1.3) translateY(0)
            color: $text-secondary

        .ToTopButton__text
            opacity: 0

    &__icon
        font-size: $icon-size
        display: block
        transform: translateY(-6px) scale(1)
        transition: transform .24s,

    &__text
        font-size: $size / 4
        font-variant: small-caps
        text-transform: lowercase;
        position: relative
        top: -24px
        font-family: $font-main-light
        transition: opacity .24s



