// $font-reg: "Montserrat-Regular"
$font-reg: "Roboto-Medium"
@font-face
	font-family: $font-reg
	src: url('../fonts/'+ $font-reg +'.ttf')

$font-bold: "Montserrat-Bold"
@font-face
	font-family: $font-bold
	src: url('../fonts/'+ $font-bold +'.ttf')

