@import '../common/color-scheme'

a
    color: #6EC4E7
    text-decoration: none

.quote
    color: #66B266
    // color: #89BA20

.postInfoM, .sideArrowsP, .sideArrows
    display: none

.name, .quotelink
    color: $red

b
    font-size: 1.1em
