@import '../common/color-scheme.sass'
@import '../common/fonts.sass'

img
    display: inline
    min-width: 50px
    max-width: 150px
    min-height: 50px
    max-height: 150px

.thread-count
    font-size: 12px
    text-align: center

.thread-op
    display: block
    padding: 0 15px
    font-size: 12px

    b.title
        display: block
        font-family: $font-bold
        font-weight: 500
        margin-bottom: 10px
