@import '../common/color-scheme.sass'

.thread
	display: block
	overflow: hidden

.catalogue
	display: inline-block
	width: 155px
	height: 320px
	margin: 5px 10px 20px
	padding: 5px
	padding-bottom: 3px
	text-align: center
	border-radius: 4px
	transition: box-shadow 0.3s
	cursor: pointer

	&::before
		content: ""
		border-top: $red solid 2px
		width: 0
		transition: width 0.4s ease-out
		position: relative

	&:hover::before
		width: 100%
