@import "../common/color-scheme"
@import "../common/common"

.post
	background-color: $dark-red
	display: inline-block
	width: 992px
    padding: 0 4px
	margin-bottom: 10px
	text-align: left
    border: $light-grey

a
    color: #32cd96


a.quotelink
    color: #32cd96
