@import '~sass/partials'

.TabGroup
    display: flex
    flex-direction: column
    +size(inherit)

    .TabBar
        display: flex
        justify-content: space-around

        .Tab
            padding: .5em 1em
