@import '~styles/base'
$header-navbar-padding: 68px
$header-icon-size: 20px

.HeaderNav
    position: absolute
    +set-dims(100vw, $header-height)
    +position(0, 0)
    // top: -$header-height  // hide on start
    border-bottom: 2px $header-border-color solid
    z-index: 500

    .background
        opacity: 0.95
        background: grey(8)
        +set-dims(100%, 100%)
        position: absolute
        z-index: -1

    .content
        width: 100%
        display: flex
        flex-wrap: block
        align-items: center
        height: 100%
        padding: $header-padding

    .HeaderItem
        padding: 0 8px
        transition: padding $key-animation-duration $key-bezier-animation-out

        &.Navbar--left
            margin-left: 0
            margin-right: auto

        &.Navbar--right
            padding-right: 0
            margin-left: auto

        &.Navbar--center
            margin: 0 auto
            // align-self: center
            text-align: center

        > *
            display: inline-block

        .Icon
            +clickable
            font-size: $header-icon-size
            padding: 0 10px

            &:hover, &:active
                color: color(primary)
                transition: color .2s ease-out

    .Logo
        top: 4px
        padding: 8px

    .Navbar__logo
        cursor: pointer


