$base-colors: (
    punch:     #EA4335,  // $primary
    seagull:   #6EC4E7,  // $blue-light
    picton:    #4EADF3,  // $blue
    denim:     #0E43A9,  // triad of punch, use for tint?
    mantis:    #8FCC6D,  // $green
    swamp:     #a3d08c,  // $green
    fern:      #55b359,  // 4chan
    vermilion: #FF4500,  // reddit
    contessa:  #BF616A,  // Nord
    horizon:   #5e81ac,  // Nord
    bouquet:   #b48ead,  // Nord
    putty:     #EBCB8B,  // Nord
);

// Helper functions
@function color-shade($key) {
    @return map-get($color-shades, $key);
};

@function c($key, $var:null) {
    $c: map-get($base-colors, $key);
    @if ($var != null) {
        @return nth($greys, $var);
    }
    @return $c;
};


// $primary: c(punch);
// $primary: lighten(c(punch), 10%);
// $primary: #D13438;

// $primary: #F44336;  // original
$primary: #c3362b;  // dark 20%

$secondary: c(horizon);
$background-tint: $primary;


@function color-tint($color) {
    @return mix($background-tint, $color, 0.5%)
}

// Helper functions end


// Main color palette
$color-palette: (
    primary:        $primary,
    secondary:      $secondary,
    links:          c(picton),
    greentext:      c(swamp),
    fourchan:       c(fern),
    reddit:         c(vermilion),
    favourite:      c(putty),
    anon-name:      c(putty),
    layout:         #c3362b,
    text-primary:   rgba(255,255,255, 1),
    text-secondary: rgba(255,255,255, 0.7),
    text-disabled:  rgba(255,255,255, 0.5),
    divider:        rgba(255,255,255, 0.12),
    highlight:      mix($primary, grey(7), 10%),
    boardpost:      grey(8),
    threadpost:     grey(7),
);

// Function to access to the color palette. Takes a color name and shade. E.g:
// color(primary, light)
// color(secondary, dark)
@function color($color, $shade:null) {
    $x: map-get($color-palette, $color);

    @if ($shade) {
        $s: nth(color-shade($shade), 1);
        $percent: nth(color-shade($shade), 2);
        @return mix($s, $x, $percent);
    }
    @return $x;
};
