=nano-can-expand($width)
    cursor: grab
    transition: width .24s .2s ease-in

    &:hover, &:active
        width: $width
        transition: width .24s $bezier-fast
        box-shadow: inset 2px 0 2px grey(8)

        .nano-slider
            width: 50%
            margin: 0 auto

=nano-rect($width)
    width: $width
    border-radius: 0 !important
