=size($width, $height: $width)
  width: $width
  height: $height

=square($size)
    height: $size
    width:  $size

=circle($size)
    height: $size
    width:  $size
    border-radius: 50%

=limit-width($max, $min)
    max-width: $max
    min-width: $min

=limit-height($max, $min)
    max-height: $max
    min-height: $min

=set-dims($w, $h)
    width: $w
    height: $h

=set-mins($w, $h)
    min-width: $w
    min-height: $h

=set-max($w, $h)
    max-width: $w
    max-height: $h
