// -------------
// Layering (z-index)
// -------------

// Views
$homepage-z-index: -1
$contentpage-z-index: 10
$headerpanelview-z-index: 20
$preload-screen-z-index: 99999

// Interface
$mainheader-z-index: 600
$subheader-z-index: 500
$drawer-z-index: 500

// Components:
$tooltip-z-index: 1000
$thread-tooltip-z-index: 10000
$react-alerts-z-index: 9999
$board-to-top-button: 10
$thread-image-modal-z-index: 9998
