.nano
    // .nano-content
    //     scroll-behavior: smooth
    .nano-content:focus
        outline: none !important
    .nano-slider
        background: var(--primary) !important
    .nano-pane
        width: 4px
        border-radius: 0 !important
