@import '~styles/base'

$navbar-central-font-size: 24px

.ContentButtonGroup
    font-size: $navbar-central-font-size
    font-family: $font-main
    color: color(text-secondary)
    +no-select

    .arrow
        display: inline-block
        +clickable

        .icon
            border: grey(9) solid 1px
            background: grey(8)
            padding: 4px 6px
            +square(30px)
            text-shadow: 2px 2px 1px grey(10)
            box-shadow: 0 0 0 grey(10)

        &:hover .icon
            border: grey(10) solid 1px
            color: color(text-primary)
            transition: box-shadow .1s ease-out
            box-shadow: inset 0 1px 4px grey(8)

    .button
        +clickable
        background: none
        border: none
        outline: none
        color: inherit
        margin: 0 12px
        padding: 0 2px
        transition: color .15s ease-in
        position: relative
        top: -1px

        &:hover
            color: color(text-primary)
