@import '~sass/partials'

.HomeBoard
    +square(170px)
    position: absolute
    bottom: 0
    right: 100px
    background-color: #FFF
    font-size: 40px

    &__container
        display: table-cell
        vertical-align: center

    &__boardName
        color: theme(dark, primary)
    &__icon
        color: theme(dark, primary)

