@import '~sass/partials'

.ScrollableList

    &__container
        height: 100%
        width: 100%

        &:first-child
            margin-top: 24px

    &__item
        width: 100%
        display: block
