@import '~sass/partials'

$border-color: grey(9)
$background-color: grey(7)
// $stat-color: color(layout, lightest)
$stat-color: color(text-primary)

.ThreadHeader
    padding: 30px 25px
    background: $background-color

    border: $border-color solid 4px
    border-left: $border-color solid 5px
    border-right: none
    border-top: $border-color solid 4px
    width: $thread-width

    .ThreadHeader__title
        text-align: center
        font-family: font-for(ThreadHeader__title)
        font-size: 20px
        margin-bottom: 1em
        letter-spacing: 0.075rem

    .ThreadHeader__stats
        display: flex
        justify-content: center
        color: color(text-secondary)
        +font-size($font-size-small)
        align-items: center

        .last-updated
            margin-right: 0
            margin-left: auto

    .ThreadStat
        display: inline-block
        padding: 0 12px
        text-align: center

        .ThreadStat__stat
            color: $stat-color
            font-size: $font-size-medium
            position: relative

            ::before
                position: absolute
                bottom: 0
                width: 100%
                height: 2px
                background-color: $stat-color

        .ThreadStat__name

