@import '~styles/base'


$drawer-sort-icon-size: 24px
$drawer-sort-icon-width: 34px

.SortIcon
    background-color: inherit
    color: color(text-secondary)
    border-color: $header-border-color
    outline: none
    padding: 3px 5px
    box-shadow: 0 0 2px grey(9)
    margin-right: 8px

    &.active
        +gradient(color(primary))
        color: color(text-primary)
        border-color: transparent
        box-shadow: 0 0 2px color(primary, darkest)

    .Icon
        font-size: $drawer-sort-icon-size
        +center-icon
