@import '~styles/base'


$iconcircle-circle-size: 45px
$iconcircle-icon-size: 25px
$sidebar-width: 80px

.Sidebar
    display: flex
    flex-direction: column
    align-items: center
    height: 100vh
    width: $sidebar-width
    background-color: grey(8)
    border-right: grey(4) solid 1px
    z-index: -1


    > *
        margin: 7px 0
        z-index: 1

        &:last-child
            margin-top: auto
            margin-bottom: 14px

    .LogoText
        padding: 2px 0

        .version
            top: 21px
            right: 1px

    .ButtonCircle
        font-size: 26px

    .Line
        width: $sidebar-width - 20px

        &:before, &:after
            content: none

