@import '~sass/partials'

.BoardList
    width: 600px
    height: 30vh
    top: 0
    left: 2vw
    margin: 0 auto
    position: absolute
    background-color: grey(8)
    box-shadow: 0 1px 5px grey(10)
