@import '~sass/utils'

$video-highlight-color: var(--primary)
$video-volume-fill-color: $text-primary
$video-controls-background-color: $grey-darkest

=_video-button
    +clickable
    +square(34px)
    background: none
    border: 0
    color: inherit
    font: inherit
    line-height: normal
    overflow: visible
    padding: 0
    position: relative

    &:focus
        outline: 0

    .Icon
        display: table;
        position: relative;


.video-wrapper
    position: relative
    // font-family: Helvetica
    font-size: 13px
    color: $video-highlight-color
    +size(100%)

    &:hover .video-controls
        opacity: 1

    .video
        width: 100%
        height: 100%

    .video-controls
        position: absolute
        height: 34px
        display: flex
        +position(auto, 0, 0, 0)
        transition: opacity .2s
        opacity: 0
        background-color: $video-controls-background-color

    .playpause
        &:hover
            background-color: $video-controls-background-color

        .playpause-button
            +_video-button


            // .Icon
            //     padding 5

    .volume
        position: relative

        &:hover
            background-color: $video-controls-background-color

            .volume-slider
                display: block

        .volume-button
            +_video-button

        .volume-slider
            display: none
            position: absolute
            right: 5px
            bottom: 100%
            left: 5px
            height: 56px
            background-color: $video-controls-background-color

        .volume-track
            position: absolute
            top: 8px
            bottom: 8px
            left: 50%
            width: 4px
            transform: translateX(-50%)
            background-color: #3e3e3e

        .volume-fill, .volume-bar
            position: absolute
            right: 0
            bottom: 0
            left: 0
            height: 100%
            width: 100%

        .volume-fill
            background-color: $video-volume-fill-color

        .volume-bar
            padding: 0
            margin: 0
            opacity: 0
            -webkit-appearance: slider-vertical
            cursor: pointer

    .seek
        flex-grow: 1
        position: relative

        .seek-track
            position: absolute
            top: 50%
            left: 5px
            right: 5px
            height: 4px
            transform: translateY(-50%)
            background-color: #3e3e3e

        .seek-buffer,
        .seek-fill,
        .seek-input,
            position: absolute
            top: 0
            left: 0
            height: 100%

        .seek-buffer
            background-color: #5a5a5a

        .seek-fill
            background: $video-highlight-color

        .seek-input
            width: 100%
            opacity: 0
            cursor: pointer

    .fullscreen

        &:hover
            background-color: #000

        .fullscreen-button
            +_video-button


    .download
        &:hover
            background-color: #000

        .download-button
            +_video-button

    .time
        padding: 0 10px
        line-height: 35px
        color: $video-highlight-color

        .time-current
            margin-right: 5px

        .time-duration
            margin-left: 5px
            color: #919191


    .video-overlay
        position: absolute
        top: 0
        right: 0
        bottom: 0
        left: 0
        height: 100%
        width: 100%
        color: $video-highlight-color
        text-align: center
        cursor: pointer
        background-color: rgba(0,0,0,0)

        .overlay-icon
            display: inline-block
            position: absolute
            top: 50%
            right: 0
            left: 50%
            width: 60px
            height: 60px
            transform: translateY(-50%)
            margin-left: -30px
            background-color: rgba(0,0,0,0.7)
            border-radius: 10px

        .Icon
            position: absolute
            top: 50%
            right: 0
            transform: translateY(-50%)
            font-size: 60px
            color: $text-primary

    button .Icon
        padding: 5px
        font-size: 18px
