@import '~sass/partials'

.Searchbar
    font-family: $font-alt
    line-height: 100%
    display: flex
    align-items: center
    height: 30px
    background: grey(8)

    .Icon
        line-height: inherit
        display: inline-block
        padding: 6px 16px

        &.search
            color: inherit

        &.close
            position: absolute
            right: 0
            color: #d55250

    input
        height: 100%
        width: 100%
        transition: all .3s ease
        display: inline-block
        border: none
        line-height: inherit
        background: inherit
        color: inherit
        border-radius: inherit
        text-align: inherit

        &:focus
            &::-webkit-input-placeholder
                transition: opacity 0.5s ease
                opacity: 0
