@import '~sass/utils'


.SlideTransition
    transition: transform $speed-fast $bezier-fast, opacity $speed-fastest $bezier-fast

    &.SlideTransition--animate-in
        transform: translate(0, 0)
        opacity: 1

    &.SlideTransition--animate-out
        opacity: 0

        &.SlideTransition--from-left
            transform: translate(-100%, 0)
        &.SlideTransition--from-right
            transform: translate(100%, 0)
        &.SlideTransition--from-top
            transform: translate(0, -100%)
        &.SlideTransition--from-bottom
            transform: translate(0, 100%)
