.BoardToolbarSearchBar
    height: 60px
    border-radius: 4px
    flex-direction: row-reverse
    background-color: inherit

    input
        color: theme(dark, text-primary)
        text-align: center
        letter-spacing: 0.225rem
        font-variant: small-caps
        box-shadow: inset 0 0 0 transparent
        background-color: inherit

        &:active, &:focus
            color: theme(dark, text-primary)
            box-shadow: inset 0 0 5px 0 theme(dark, primary)
