@import '~sass/partials'

.ActionButton
    font-family: font-for(BoardToolbar)
    background: none
    outline: none
    border: var(--primary) solid 1px
    border: none
    color: var(--textPrimary)
    font-size: 17px
    line-height: 1
    position: relative
    +clickable
    width: $board-post-width / $golden-ratio

    .Icon
        margin-bottom: 2px
        color: var(--textSecondary)

    .title
        font-size: inherit
        transition: color .24s $ease-out-cubic
        color: var(--textSecondary)
        position: relative

        &::before
            content: ""
            height: 2px
            width: 0
            background: var(--primaryLight)
            position: absolute
            bottom: -24px
            left: 0
            right: 0
            margin: 0 auto
            transition: width .24s $ease-out-cubic

    &:hover .title::before
        width: 100%


