@import '~sass/partials'

.ActionButton
    font-family: font-for(BoardToolbar)
    background: none
    outline: none
    border: theme(dark, primary) solid 1px
    border: none
    color: theme(dark, text-primary)
    font-size: 17px
    line-height: 1
    position: relative
    +clickable
    width: $board-post-width / $golden-ratio

    .Icon
        margin-bottom: 2px
        color: theme(dark, text-secondary)

    .title
        font-size: inherit
        transition: color .24s $ease-out-cubic
        color: theme(dark, text-secondary)
        position: relative

        &::before
            content: ""
            height: 2px
            width: 0
            background: theme(dark, primary, light)
            position: absolute
            bottom: -24px
            left: 0
            right: 0
            margin: 0 auto
            transition: width .24s $ease-out-cubic

    &:hover .title::before
        width: 100%


