@mixin create-font($font-name)
    @font-face
        font-family: $font-name
        src: url( $font-dir + $font-name + '.ttf' ) format('truetype')
        font-weight: normal
        font-style: normal

// see sass/config/_typography
@each $font in $font-list
    +create-font($font)
