@import '~styles/base'

.IconGroup
    display: block
    line-height: 100%
    padding: 0 4px

    .Icon
        padding: 12px
        margin-right: 6px
        color: color(text-primary)
        text-shadow: 2px 2px 1px grey(10)
