// -----
// Color
// -----
/* Primary */
$primary: var(--primary)
$primary-light: var(--primaryLight)
$primary-dark: var(--primaryDark)
$primary-lightest: var(--primaryLightest)
$primary-darkest: var(--primaryDarkest)

/* Greys */
$grey: var(--grey)
$grey-light: var(--greyLight)
$grey-dark: var(--greyDark)
$grey-lightest: var(--greyLightest)
$grey-darkest: var(--greyDarkest)
/* Text */
$text-primary: var(--textPrimary)
$text-secondary: var(--textSecondary)
$text-disabled: var(--textDisabled)

/* Other */
$quote-color: var(--greenText)
$highlight-color: var(--highlight)

/* Layout */
$header-shrunk-color: var(--headerShrunk)
$header-expand-color: var(--headerExpanded)

$board-color: var(--board)
$thread-color: var(--thread)

$board-post-color: var(--boardPostBackground)
$boardpost-hover-color: var(--boardPostHover)
$board-post-shadow-color: var(--boardPostShadow)

$interface-color: var(--interfaceColor)
$content-color: var(--contentColor)




// ----------
// Typography
// ----------
$font-dir: 'fonts/'

$line-height: 1.618

$font-size-xsmall : 12px
$font-size-small  : 13px
$font-size-medium : 16px
$font-size-large  : 20px
$font-size-xlarge : 24px

// Used in `utils/margin` and `utils/padding`
$spacing-sizes: (0: 0rem, 1: 0.25rem, 2: 0.5rem, 3: 1rem, 4: 2rem, 5: 4rem, 6: 8rem) !default

$font-main          : "OpenSans-Regular"
$font-main-light    : "OpenSans-Light"
$font-main-bold     : "OpenSans-Bold"
$font-main-semibold : "OpenSans-Semibold"
$font-alt           : "Raleway-Regular"
$font-accent        : "FaricyNew-Light"

// Used to auto-generate fonts with @font-face
$font-list: $font-main, $font-main-light, $font-main-bold, $font-main-semibold, $font-alt, $font-accent

// -----
// Other
// -----
$golden-ratio: 1.618034
$board-scroller-width: 4px
$thread-scroller-width: 4px


// ----------------
// Key Measurements
// ----------------
$thread-width: 850px
$thread-offset: $thread-width / 2
$board-post-width: 236px
$board-post-comment-max-height: 175px
$header-width: 992px
$header-height: 64px
$subheader-width: $thread-width - 7px
$subheader-height: 48px


// ------------------
// Layering (z-index)
// ------------------
// Views
$homepage-z-index: -1
$contentpage-z-index: 10
$headerpanelview-z-index: 20
$preload-screen-z-index: 99999
// Layout:
$mainheader-z-index: 600
$subheader-z-index: 500
$drawer-z-index: 500
// Components:
$tooltip-z-index: 1000
$thread-tooltip-z-index: 10000
$react-alerts-z-index: 9999
$board-to-top-button: 10


// ----------
// Components
// ----------
$thread-color: transparent
$thread-post-info-size: 14px
$thread-post-border-color: $grey-darkest

$header-border-color: $primary-darkest
$header-padding: 0 300px
$header-padding: 0 16px 0 64px
$header-icon-size: 22px

$subheader-font-size: 14px
$subheader-icon-size: 22px

$dropdown-color: "TODO"
$dropdown-color-hover: "TODO"
// --------------------------------------------
// ** Deprecated - Will remove at some point **
// --------------------------------------------

// $settings-drawer-width: 256px
$settings-drawer-width: 320px
// $drawer-width: 256px
$drawer-width: 320px

$settings-color: grey(3)
$settings-font-size-ratio: 1.2
$settings-font-size-large: $font-size-large * $settings-font-size-ratio
$settings-font-size-medium: $font-size-medium * $settings-font-size-ratio
$settings-font-size-small: $font-size-small * $settings-font-size-ratio

// deprecated - refactor to be used by settings
$navbar-width: 385px
$navbar-height: calc(100vh - #{$header-height})
$navbar-icon-size: 18px
$navbar-button-effect-amount: 20%

