@import '~sass/utils'

.HeaderButtonIcon
    font-size: $subheader-icon-size
    margin: 0 4px
    padding: 2px 4px
    background: none
    outline: none
    color: var(--textSecondary)
    border: none
    line-height: 1
    vertical-align: center
    vertical-align: middle
    cursor: pointer

    &:hover
        color: var(--primary)
