@function warm-tint($color, $amount: 3) {
    @return adjust-color($color, $red: $amount, $blue: -$amount);
}

@function cold-tint($color, $amount: 3) {
    @return adjust-color($color, $red: -$amount, $blue: $amount);
}


// These values are used to create different cikir shades.
// To see example of usage, check ./_registery.scss

// values represent: (shade, amount to shade by)
$color-shades: (
    darkest:  (#000000, 20%),
    dark:     (#5c5c5c, 20%),
    light:    (#ffffff, 20%),
    lightest: (#ffffff, 40%),
);

@function color-shade($key) {
    @return map-get($color-shades, $key);
};
