@import '~sass/utils'

$iconcircle-icon-size: 1em
$iconcircle-circlesize: 1.8em

.IconCircle
    +clickable
    +size($iconcircle-circlesize)
    font-size: 22px
    position: relative
    display: inline-block
    margin: 0 9px

    .Icon
        font-size: inherit
        +size(inherit)
        display: table-cell
        vertical-align: middle
        color: var(--textSecondary)
        text-align: center
        transition: all .2s
        z-index: 1
        line-height: inherit

    .Circle
        +circle(inherit)
        position: absolute
        background: $grey-dark
        border-radius: 50%
        border: 1px solid $grey-light
        transform: scale(1)
        transition: all .2s
        z-index: -1

    &:hover
        .Circle
            background: $grey
            transform: scale(1.25)
            border-color: var(--primary)

        .Icon
            transform: scale(1.2)
            color: var(--textPrimary)

    &.selected
        .Circle
            border-color: var(--primary)
            background-color: var(--primary)

        .Icon
            color: var(--textPrimary)
