// Main color palette
$dark-palette:   (
    primary:          $primary,
    secondary:        $secondary,
    links:            c(picton),
    greentext:        c(swamp),
    fourchan:         c(fern),
    reddit:           c(vermilion),
    favourite:        c(putty),
    anon-name:        c(putty),
    content-border:   $grey,
    layout:           $primary,
    text-primary:     rgba(255,255,255, 1),
    text-secondary:   rgba(255,255,255, 0.7),
    text-disabled:    rgba(255,255,255, 0.5),
    divider:          rgba(255,255,255, 0.12),
    highlight:        mix($primary, $grey, 10%),
    boardpost:        $grey-dark,
    threadpost:       $grey,
    settings-drawer:  $grey-dark,
    board:            $grey,
    text-selection:   $primary,
    thread-quote:     #da7c7b,
);
    // layout:         #  c3362b,
