@import "color-scheme"
@import "mixins"
@import "animations"

.spinner
	@include center(80px, 80px)
	background-color: $red
	position: fixed
	animation: rotatespinner 1.2s infinite ease-in-out
	display: none
	animation-play-state: paused
	z-index: 3

	&.active
		display: initial !important
		animation-play-state: running !important
