@import '~styles/base'

.HeaderIconGroup
    display: block
    &:first-child
        height: $header-icon-feature-height-ratio
        line-height: $header-icon-feature-height-ratio
    &:last-child
        height: $header-icon-content-height-ratio
        line-height: $header-icon-content-height-ratio
