@import '~styles/base'

.LogoText
    text-align: left
    position: relative
    top: -2px
    color: color(primary)
    width: 2.7em
    font-size: $font-size-large
    height: 3em

    .center-content
        position: relative;
        top: 50%;
        transform: translateY(-50%);

    .name
        font-size: 1em

    .version
        font-size: 0.65em
        font-family: $font-alt
        color: color(text-secondary)
        position: absolute
        top: 1.05em
        right: -0.8em
        text-align: right
