@import '~styles/base'

$tooltip-triangle-size: 8px
$tooltip-color-light: grey(1)
$tooltip-color-dark: grey(9)

.Tooltip
    position: relative
    display: inline-block
    z-index: 1000

    .Tooltip__content  // is Tooltip
        position: absolute
        visibility: hidden
        opacity: 0
        transition: opacity .240s ease-out
        color: color(text-primary)
        background: $tooltip-color-dark
        line-height: 100%
        text-align: center
        white-space: nowrap
        padding: 6px 12px
        border-radius: 4px
        border: grey(10)

        &.Tooltip__content--active
            visibility: visible !important
            opacity: 1

        &::before
            content: ''
            position: absolute
            margin: auto
            width: 0
            height: 0

        // Positioning starts
        &.Tooltip__content--top
            top: 0
            left: 50%
            transform: translate(-50%, -100%)
            margin-top: -$tooltip-triangle-size

            &::before
                bottom: -$tooltip-triangle-size + 1px
                border-top: $tooltip-triangle-size solid $tooltip-color-dark
                border-right: $tooltip-triangle-size solid transparent
                border-left: $tooltip-triangle-size solid transparent

        &.Tooltip__content--left
            top: 50%
            left: 0
            margin-left: -$tooltip-triangle-size
            transform: translate(-100%, -50%)

            &::before
                right: -$tooltip-triangle-size + 1px
                border-left: $tooltip-triangle-size solid $tooltip-color-dark
                border-top: $tooltip-triangle-size solid transparent
                border-bottom: $tooltip-triangle-size solid transparent

        &.Tooltip__content--right
            margin-right: -$tooltip-triangle-size
            top: 50%
            right: 0
            transform: translate(100%, -50%)

            &::before
                left: -$tooltip-triangle-size + 1px
                border-right: $tooltip-triangle-size solid $tooltip-color-dark
                border-top: $tooltip-triangle-size solid transparent
                border-bottom: $tooltip-triangle-size solid transparent

        &.Tooltip__content--bottom
            margin-bottom: -$tooltip-triangle-size
            bottom: 0
            right: 50%
            transform: translate(-50%, 100%)

            &::before
                top: -$tooltip-triangle-size + 1px
                border-bottom: $tooltip-triangle-size solid $tooltip-color-dark
                border-right: $tooltip-triangle-size solid transparent
                border-left: $tooltip-triangle-size solid transparent
