@import '~sass/partials'

$tooltip-triangle-size: 8px
$tooltip-color-light: grey(1)
$tooltip-color-dark: grey(5)

.Tooltip
    position: relative
    display: inline-block
    z-index: 1000

    .Tooltip__wrap--effect-fade
        transition: opacity $key-animation-duration $key-bezier-animation-in
        opacity: 0

    .Tooltip__wrap--effect-scale
        transition: transform $key-animation-duration $key-bezier-animation-in
        transform: scale(0)
        transform-origin: bottom left

    .Tooltip__content  // is Tooltip
        position: absolute
        visibility: hidden
        transition: transform $key-animation-duration $key-bezier-animation-in
        color: color(text-primary)
        background: $tooltip-color-dark
        line-height: 1
        text-align: center
        white-space: nowrap
        padding: 6px 12px
        border-radius: 4px
        border: grey(10)

        &.Tooltip__wrap--active
            visibility: visible

            .Tooltip__wrap--effect-fade
                opacity: 1

            .Tooltip__wrap--effect-scale
                transform: scale(1)

        &::before
            // ::before is the triangle
            content: ''
            position: absolute
            margin: auto
            width: 0
            height: 0

        // Positioning starts
        &.Tooltip__content--top
            top: 0
            left: 50%
            transform: translate(-50%, -100%)
            margin-top: -$tooltip-triangle-size

            &::before
                left: 0
                right: 0
                bottom: -$tooltip-triangle-size + 1px
                border-top: $tooltip-triangle-size solid $tooltip-color-dark
                border-right: $tooltip-triangle-size solid transparent
                border-left: $tooltip-triangle-size solid transparent

        &.Tooltip__content--left
            top: 50%
            left: 0
            margin-left: -$tooltip-triangle-size
            transform: translate(-100%, -50%)

            &::before
                top: 0
                bottom: 0
                right: -$tooltip-triangle-size + 1px
                border-left: $tooltip-triangle-size solid $tooltip-color-dark
                border-top: $tooltip-triangle-size solid transparent
                border-bottom: $tooltip-triangle-size solid transparent

        &.Tooltip__content--right
            margin-right: -$tooltip-triangle-size
            top: 50%
            right: 0
            transform: translate(100%, -50%)

            &::before
                top: 0
                bottom: 0
                left: -$tooltip-triangle-size + 1px
                border-right: $tooltip-triangle-size solid $tooltip-color-dark
                border-top: $tooltip-triangle-size solid transparent
                border-bottom: $tooltip-triangle-size solid transparent

        &.Tooltip__content--bottom
            margin-bottom: -$tooltip-triangle-size
            bottom: 0
            left: 50%
            transform: translate(-50%, 100%)

            &::before
                left: 0
                right: 0
                top: -$tooltip-triangle-size + 1px
                border-bottom: $tooltip-triangle-size solid $tooltip-color-dark
                border-right: $tooltip-triangle-size solid transparent
                border-left: $tooltip-triangle-size solid transparent
