@import '~sass/partials'

$iconcircle-icon-size: 1em
$iconcircle-circlesize: 1.8em

%Transition-Out
    transition: all $animation-speed-normal $delay-fast $bezier-fast

%Transition-In
    transition: all $animation-speed-fast $bezier-slow

// Component
.ButtonCircle
    +clickable
    +size($iconcircle-circlesize)
    font-size: 24px
    position: relative
    display: inline-block
    margin: 0 9px

    .Icon
        +size(inherit)
        @extend %Transition-Out
        font-size: inherit
        display: table-cell
        vertical-align: middle
        color: color(text-secondary)
        text-align: center
        z-index: 1

    .Circle
        +circle(inherit)
        @extend %Transition-Out
        transform: scale(1)
        position: absolute
        background: grey(8)
        border: 1px solid grey(6)
        z-index: -1

    &:hover .Circle
        @extend %Transition-In
        transform: scale(1.28)
        background: grey(7)
        border-color: color(primary)

    &:hover .Icon
        @extend %Transition-In
        transform: scale(1.2)
        color: color(text-primary)

    &.selected
        .Circle
            border-color: color(primary)
            background-color: color(primary)

        .Icon
            color: color(text-primary)
