@import '~sass/utils'

.BoardToolbarMetadata
    font-size: $subheader-font-size
    color: var(--textSecondary)

    > div
        display: inline-block
        padding-right: 16px / $golden-ratio

    .highlight
        color: theme(dark, layout, light)
