@import '~sass/utils'

%fade-in
    opacity: 1

%fade-out
    opacity: 0

%scale-in
    transform: scale(1)

%scale-out
    transform: scale(0.8)



.ClassTransition
    &.ClassTransition--fade-effect
        transition: opacity $speed-fast $bezier-fast
        &.ClassTransition--animate-in
            @extend %fade-in
        &.ClassTransition--animate-out
            @extend %fade-out

    &.ClassTransition--scale-effect
        transition: transform $speed-fast $bezier-fast
        &.ClassTransition--animate-in
            @extend %scale-in
        &.ClassTransition--animate-out
            @extend %scale-out

    &.ClassTransition--fade-scale-effect
        transition: transform $speed-fastest $bezier-fast, opacity $speed-fastest $bezier-fast

        &.ClassTransition--animate-in
            @extend %scale-in
            @extend %fade-in
        &.ClassTransition--animate-out
            @extend %scale-out
            @extend %fade-out
