@import '~sass/utils'

.ExpandedImage
    // use flex to fix 7px extra height bug
    display: flex
    position: relative
    overflow: hidden

    .ExpandedImage__blurred-thumbnail
        filter: blur(10px)
        background-size: cover
        +size(100%)
        position: absolute
        top: 0

    .ExpandedImage__expanded
        position: relative


