// Main color palette
$dark-palette: (
    primary:          $primary,
    secondary:        $secondary,
    links:            c(picton),
    greentext:       #a4c73b,
    favourite:        c(putty),
    anon-name:        c(putty),
    content-border:   grey(7),
    layout:           $primary,
    text-primary:     rgba(255,255,255, 1),
    text-secondary:   rgba(255,255,255, 0.7),
    text-disabled:    rgba(255,255,255, 0.5),
    divider:          rgba(255,255,255, 0.12),
    highlight:        mix($primary, grey(7), 10%),
    boardpost:        grey(8),
    threadpost:       grey(7),
    settings-drawer:  grey(8),
    board:            grey(7),
    text-selection:   $primary,
    thread-quote:     #e44a49,
);
    // layout:         #  c3362b,
