@import '~sass/partials'

.Pipe
    padding: 0

    &::after
        content: ""
        border-right: 1px solid theme(dark, divider)
        height: 100%
        box-shadow: 0 0 2px theme(dark, divider)
