@import '~sass/utils'

$board-info-width: 300px
$board-info-background-color: $grey-lightest

.BoardInfo
    position: absolute
    left: 100%
    padding: 6px 12px
    width: $board-info-width
    background: $board-info-background-color
