@import '~sass/utils'

$post-width: 400px
$post-height: 500px
// $post-container-gap: calc(((100vw - #{$thread-width}) / 2 - (#{$post-width} - #{$thread-offset} / 2)) / 2)
$post-positioner-width: calc(((100vw - #{$thread-offset}) / 2 ))



.PostPositioner
    display: flex
    justify-content: center
    align-items: center
    position: fixed
    left: 0
    right: 0
    top: $header-height
    bottom: 0
    margin: auto 0

    // left: $post-container-gap
    right: auto
    left: 0
    width: $post-positioner-width

    .position-left
        min-width: 300px

    &.position-centered
        +size(100vw, 100vh)
        top: 0

    .Post
        background: $grey-light
        +size($post-width, auto)
        // max-width: 120%
        // min-width: 200px
        width: 100%
        margin: 0 $thread-offset / 3

        width: $thread-width * 2/3
        max-height: calc(100vh - #{$header-height})
        opacity: 0
        transform: scale(0.6)
        +will-change(opacity, transform)
        resize: both
        box-shadow: 0 8px 16px rgba(0,0,0,0.3)
        resize: both


    .PostForm
        padding: 1em
        // padding-top: 2em

        .post-header
            display: flex
            height: 3em
            align-items: center
            margin-bottom: .5em

            h4
                flex: 1
                font-family: $font-main-light
                letter-spacing: 1px
                +font-size(1)
                text-align: center

        .post-name, .post-options
            width: 100%

        textarea, input
            background-color: inherit

        textarea
            max-width: 100%
            width: 100%
            min-height: 20vh
            max-height: calc(100vh - #{$header-height})
            // max-height: 100%
            padding: .5em
            margin: 1em 0
            background-color: $grey-lightest
            border: none
            outline: none


    .PostForm__decision
        display: flex

        .post-file-wrapper
            flex: 1

        .post-submit
            +clickable
            +font-size(3)
            height: 1.5em
            padding: 0 .5em
            padding-left: 1.5em
            border-radius: 1.5em
            color: $text-primary
            display: flex
            align-items: center
            // justify-content: center
            background-color: transparent
            background: $primary-dark
            outline: none
            border: none
            text-shadow: 0 1px 2px black
            position: relative

            .Icon
                +font-size(3)
                +circle(1.5em)
                background: $primary
                position: absolute
                left: 0
                display: flex
                align-items: center
                justify-content: center

                &:before
                    +font-size(2)
                    position: relative
                    left: -1px
                    top: -1px

            .text
                +font-size(0)
                text-align: right
                margin: 0 1em

