// -----------------
// Font + Typography
// -----------------

$font-main: "OpenSans-Regular";
$font-main-light: "OpenSans-Light";
$font-main-bold: "OpenSans-Bold";
$font-main-semibold: "OpenSans-Semibold";
$font-alt: "Raleway-Regular";
$font-accent: "FaricyNew-Light";

// Used tp auto-generate fonts with @font-face
$font-list: $font-main, $font-main-light, $font-main-bold,
            $font-main-semibold, $font-alt, $font-accent;
// delete these:
// $font-main: "Roboto-Light"
// $font-main: "Montserrat-Regular";



$font-dir: 'core/fonts/';
$icon-dir: 'core/icons/';

$line-height: 1.618;

$font-size-xsmall: 12px;
$font-size-small: 13px;
$font-size-medium: 16px;
$font-size-large: 20px;
$font-size-xlarge: 24px;


$font-palette: (
    body: $font-main,
    // Board
    Board__Button: $font-accent,
    BoardToolbar: $font-main,
    BoardPost: $font-main,
    BoardPost__title: $font-main-semibold,
    BoardPostHeader: $font-main,
    BoardListItem__title: $font-accent,
    BoardListItem__tag: $font-alt,
    BoardSelection__boardID: $font-accent,
    // Thread
    ThreadPost__deadlink: $font-main-light,
    ThreadPost__PostID: $font-alt,
    ThreadPost__quotelink: $font-alt,
    ThreadHeader__title: $font-accent,
    // Header
    HeaderTags: $font-alt,
    HeaderTitle: $font-main-light,
    Header__Title__button: $font-main-light,
    Header__ContentButtonGroup: $font-main,
    DynamicHeader__Title: $font-main-light,
    DynamicHeader__LogoText: $font-main-semibold,

    // Settings
    Drawer__SortPanel: $font-main-light,
    Settings: $font-alt,
    Settings__value: $font-main,
    // Components
    Hierarchy__threadID: $font-alt,
    FullLogo: $font-main-semibold,
    LogoText__name: $font-main,
    LogoText__version: $font-alt,
    Searchbar: $font-alt,
    Button: $font-accent,
);

@function font-for($component-name) {
    @return map-get($font-palette, $component-name);
}
