/* Base Variables */
$line-height: 1.6
$font-size-small: 13px
$font-size-medium: 16px
$font-size-large: 20px


$board-color: grey(8)
$board-post-color: color(boardpost)
$board-post-width: 236px
$board-post-height: 450px
$board-post-shadow-color: color(boardpost, dark)
$board-post-shadow-hover-color: color(boardpost, lightest)


$thread-width: 992px
$thread-color: transparent
$thread-line-height: 1.618

$thread-post-color: color(threadpost)
$thread-post-info-size: 14px

 
$header-width: 992px
$header-height: 65px
$header-icon-size: 20px


$settings-color: grey(3)
$settings-font-size-ratio: 1.2
$settings-font-size-large: $font-size-large * $settings-font-size-ratio
$settings-font-size-medium: $font-size-medium * $settings-font-size-ratio
$settings-font-size-small: $font-size-small * $settings-font-size-ratio


$navbar-width: 385px
$navbar-height: calc(100vh - #{$header-height})
$navbar-icon-size: 18px
$navbar-button-effect-amount: 20%


// $preloader-color-inner: color(primary) 
// $preloader-color-middle: adjust-hue(color(primary), 120deg)
// $preloader-color-outer: adjust-hue(color(primary), -120deg)

$preloader-base-color: color(primary, light)
$preloader-color-outer: darken($preloader-base-color, 25%)
$preloader-color-middle: darken($preloader-base-color, 10%)
$preloader-color-inner: $preloader-base-color 

$preloader-arc-width: 3px
$preloader-spin-multiplier: 1
$preloader-size: 150px

$preloader-text-box-size: 400px


$dropdown-color: grey(7)
$dropdown-color-hover: lighten($dropdown-color, 5%)
