@import '~sass/partials'

.ExpandedImage
    // use flex to fix 7px extra height bug
    display: flex
    position: relative

    .ExpandedImage__blurred-thumbnail
        overflow: hidden
        filter: blur(10px)
        background-size: cover
        +size(100%)
        position: absolute
        top: 0

    .ExpandedImage__expanded
        position: relative


